

           <div class="form-group">
                    <input type="checkbox" name="system.equippable" {{checked itemData.equippable}}/> {{ localize "SFRPG.Items.Equippable" }}
           
                {{#if itemData.equippable}}
               
                    <input type="checkbox" name="system.equipped" {{checked itemData.equipped}}/> {{ localize "SFRPG.Items.Equipped" }}
           
                {{/if}}
             
                    <input type="checkbox" name="system.isSkilled" {{checked itemData.isSkilled}}/> {{ localize "SFRPG.Items.IsSkilled" }}
                    <input type="checkbox" name="system.isOpposed" {{checked itemData.isOpposed}}/> {{ localize "SFRPG.Items.isOpposed" }}
            </div>
 