<header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-action="editImage" data-edit="img"/>

    <div class="header-details flexrow">
        <div class="header-background flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.ItemNameTooltip" }}" placeholder="{{ localize "SFRPG.ItemSheet.Header.ItemName" }}"/>
            </h1>
            <div class="item-subtitle">
                <h4 data-tooltip="Item Type" class="item-type">{{itemType}}</h4>
                <span data-tooltip="Item Status" class="item-status">{{itemStatus}}</span>
            </div>
        </div>

        {{!-- Item Summary --}}
        <ul class="summary flexrow">
            {{#if category.enabled}}
            <li class="short" data-tooltip="{{localize category.tooltip}}">
                <label>{{localize category.value}}</label>
            </li>
            {{/if}}


            {{#if hasDamage}}
            <li class="wide" data-tooltip="{{ localize "Damage" }}">
                <div class="attribute-value2">

                    <label>{{itemData.damage.ord.dice}}({{itemData.damage.ord.type}}) /
                        {{itemData.damage.goo.dice}}({{itemData.damage.goo.type}}) /
                        {{itemData.damage.ama.dice}}({{itemData.damage.ama.type}})
                    </label>

            </div>
            </li>
            {{/if}}
            
        </ul>

        {{#if (or (eq item.type "spell") (eq item.type "psionic"))}}
        <ul class="summary flexrow">
            <li>
                {{localize labels.level}}
            </li>
            <li>
                {{localize labels.school}}
            </li>
        </ul>
        {{/if}}

        {{!-- Header Attributes --}}
        <ul class="attributes flexrow">
            {{#if isPhysicalItem}}
            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.HitpointsTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "Accuracy" }}</h4>
                <div class="attribute-value2">

                        <label>{{itemData.accur}}</label>

                </div>
            </li>
            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.HitpointsTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "Actions" }}</h4>
                <div class="attribute-value2">

                        <label>{{itemData.actions}}</label>

                </div>
            </li>
            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.ArmorClassTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "Type" }}</h4>
                <div class="attribute-value2">

                    <label>{{itemData.damage.type}}/{{itemData.firepower}}</label>

            </div>
            </li>

            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.HardnessTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "Range" }}</h4>
                <div class="attribute-value2">

                    <label>{{itemData.range.short}}/{{itemData.range.medium}}/{{itemData.range.long}}</label>

            </div>
            </li>

            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.SaveTooltip" formula=placeholders.savingThrow.formula}}">
                <h4 class="attribute-name box-title">{{ localize "Skill" }}</h4>
                <div class="attribute-value2">
               
                    <label> {{itemData.skill}} </label>

            </div>
            </li>
            {{else}}
            &nbsp;
            {{/if}}

            {{#if (eq item.type "vehicleAttack")}}
            <li class="attribute" data-tooltip="{{ localize "SFRPG.VehicleAttackSheet.Header.SaveTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "SFRPG.ItemSheet.Header.Save" }}</h4>
                <div class="attribute-value">
                    <label>{{placeholders.savingThrow.value}}</label>
                </div>
            </li>
            {{/if}}


            <!--StarshipHull -->
            {{#if (eq item.type "starshipFrame")}}
            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.HitpointsTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "Hull Points" }}</h4>
                <div class="attribute-value2">

                        <label>{{itemData.hullPoints.base}}/{{itemData.hullPoints.total}}</label>

                </div>
            </li>
            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.HitpointsTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "Actions" }}</h4>
                <div class="attribute-value2">

                        <label>{{itemData.actions}}</label>

                </div>
            </li>
            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.ArmorClassTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "Type" }}</h4>
                <div class="attribute-value2">

                    

            </div>
            </li>

            <li class="attribute" data-tooltip="{{ localize "SFRPG.ItemSheet.Header.HardnessTooltip" }}">
                <h4 class="attribute-name box-title">{{ localize "Durability" }}</h4>
                <div class="attribute-value2">

                    <label>{{itemData.attributes.stu.value}}/{{itemData.attributes.wou.value}}/{{itemData.attributes.mor.value}}/{{itemData.attributes.cri.value}}</label>

            </div>
            </li>

            
            {{else}}
            &nbsp;
            {{/if}}
        </ul>
    </div>
</header>