

        <div class="form-group d100a-item-status">
            <div class="d100a-checkbox-row">
                <label class="d100a-checkbox">
                    <input type="checkbox" name="system.equippable" {{checked itemData.equippable}} />
                    <span>{{ localize "SFRPG.Items.Equippable" }}</span>
                </label>

                {{#if itemData.equippable}}
                <label class="d100a-checkbox">
                    <input type="checkbox" name="system.equipped" {{checked itemData.equippable}} />
                    <span>{{ localize "SFRPG.Items.Equipped" }}</span>
                </label>
                {{/if}}
            </div>

            <div class="d100a-checkbox-row">
                <label class="d100a-checkbox">
                    <input type="checkbox" name="system.isSkilled" {{checked itemData.isSkilled}} />
                    <span>{{ localize "SFRPG.Items.IsSkilled" }}</span>
                </label>

                <label class="d100a-checkbox">
                    <input type="checkbox" name="system.isOpposed" {{checked itemData.isOpposed}} />
                    <span>{{ localize "SFRPG.Items.isOpposed" }}</span>
                </label>
            </div>
        </div>
 