{{!-- Activation Cost --}}
<div class="form-group input-select">
    <label>{{ localize "SFRPG.Items.Activation.ActivationCost" }}</label>
    <div class="form-fields">
        <input type="text" name="system.activation.cost" value="{{itemData.activation.cost}}" data-dtype="Number" placeholder="-"/>
        <select name="system.activation.type">
            {{ selectOptions d100Aconfig.abilityActivationTypes selected=itemData.activation.type blank="" }}
        </select>
    </div>
</div>
{{#if itemData.activation.type}}

{{!-- Activation Condition --}}
<div class="form-group">
    <label>{{ localize "SFRPG.Items.Activation.ActivationCondition" }}</label>
    <div class="form-fields">
        <input type="text" name="system.activation.condition" value="{{itemData.activation.condition}}"/>
    </div>
</div>


{{!-- Ability Target --}}
<div class="form-group input-select-select">
    <label>{{ localize "SFRPG.Items.Activation.Target" }}</label>
    <div class="form-fields">
        <input type="text" name="system.target.value" value="{{itemData.target.value}}" data-dtype="String" placeholder="-"/>
    </div>
</div>

<div class="form-group input-select-select-select">
    <label>{{ localize "SFRPG.Items.Activation.Area" }}</label>
    <div class="form-fields">
        <input type="text" name="system.area.value" value="{{itemData.area.value}}" data-dtype="Number" placeholder="Area" />
        <select name="system.area.units">
            {{ selectOptions d100Aconfig.distanceUnits selected=itemData.area.units }}
        </select>
        <select name="system.area.shape">
            {{ selectOptions d100Aconfig.spellAreaShapes selected=itemData.area.shape }}
        </select>
        <select name="system.area.effect">
            {{ selectOptions d100Aconfig.spellAreaEffects selected=itemData.area.effect }}
        </select>
    </div>
</div>

{{!-- Ability Range --}}
<div class="form-group input-select">
    <label>{{ localize "SFRPG.Items.Activation.Range" }}</label>
    <div class="form-fields">
        <input type="text" name="system.range.value" value="{{itemData.range.value}}" data-dtype="Number" placeholder="Range"/>
        <select name="system.range.units">
            {{ selectOptions d100Aconfig.distanceUnits selected=itemData.range.units }}
        </select>
        <span class="sep"> + </span>
        <input type="text" name="system.range.additional" value="{{itemData.range.additional}}" data-dtype="String" placeholder="5 ft." />
        <span class="sep"> / </span>
        <input type="text" name="system.range.per" value="{{itemData.range.per}}" placeholder="level" />
    </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
    <label>{{ localize "SFRPG.Items.Activation.Duration" }}</label>
    <div class="form-fields">
        <input type="text" name="system.duration.value" value="{{itemData.duration.value}}" data-dtype="String" placeholder="-"/>
    </div>
</div>

{{!-- Limited Uses --}}
<div class="form-group uses-per" data-tooltip="<strong>{{ localize "SFRPG.Items.Activation.LimitedUses" }}</strong><br/>@itemData.uses.value<br/>@itemData.uses.max</br/>@itemData.uses.per">
    <label>{{ localize "SFRPG.Items.Activation.LimitedUses" }}</label>
    <div class="form-fields">
        <input type="text" name="system.uses.value" value="{{itemData.uses.value}}" data-dtype="Number"/>
        <span class="sep"> of </span>
        <input type="text" name="system.uses.max" value="{{itemData.uses.max}}" data-dtype="Number"/>
        <select name="system.uses.per">
            {{ selectOptions d100Aconfig.limitedUsePeriods selected=itemData.uses.per blank="" }}
        </select>
    </div>
</div>
{{/if}}