<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off" onsubmit="event.preventDefault();">
    {{console "Token Hud 2"}}
    {{console this}}
    <div class="col left">
        {{#if isSpaceActor}}
        <button type="button" data-tooltip="Turn Left" class="control-icon" data-action="rotateL">
            <i class="fas fa-reply" inert></i>
        </button>


        <button type="button" data-tooltip="Turn Right" class="control-icon" data-action="rotateR">
            <i class="fas fa-share" inert></i>
        </button>

        <div class="attribute elevation">
            <i class="fas fa-compass"></i>

            <input type="text" data-tooltip="Heading" name="d100ARotation" value="{{d100ARotation}}"></input>
        </div>
        <div data-tooltip="Speed <br> Accel: &#177 {{accel}}" class="attribute elevation">
            <i class="fas fa-arrow-left"></i>
            <input type="text" name="speed" value="{{speed}}">
        </div>
        {{/if}}
        {{console "26"}}
        {{console this}}


        {{#if (not isSpaceActor)}}
        {{#if (not isVehicle)}}
        <!--  <div class="lightAngle"> -->
        <!-- <i class="fas fa-angle-up"></i> -->
        <!--       <input type="text" name="lightAngle" value="{{lightAngle}}">
        </div>
         -->

        <div data-tooltip="Elevation" class="attribute elevation">
            <i class="fas fa-angle-up"></i>
            <input type="text" name="elevation" value="{{elevation}}">
        </div>


        {{/if}}
        {{#if isVehicle}}
        <!--  <div class="lightAngle"> -->
        <!-- <i class="fas fa-angle-up"></i> -->
        <!--       <input type="text" name="lightAngle" value="{{lightAngle}}">
          </div>
      -->
        <div data-tooltip="Elevation" class="attribute elevation">
            <i class="fas fa-angle-up"></i>
            <input type="text" name="elevation" value="{{elevation}}">
        </div>
        <div data-tooltip="Speed <br> Accel: &#177 {{accel}}" class="attribute elevation">
            <i class="fas fa-arrow-left"></i>
            <input type="text" name="speed" value="{{speed}}">
        </div>
        {{/if}}
        {{/if}}
        {{#if canConfigure}}
        <div class="control-icon" data-action="config">
            <i class="fas fa-cog"></i>
        </div>
        {{/if}}

        <div class="control-icon {{targetClass}}" data-action="target">
            <i class="fas fa-bullseye"></i>
        </div>

    </div>



    <div class="col middle">
        <div class="attribute bar3">
            {{#if displayBar3}}
            <input type="number" name="bar3.value" data-bar="bar3" value="{{bar3Data.value}}" {{#unless
                bar3Data.editable}}disabled{{/unless}}>
            {{/if}}
        </div>

        <div class="attribute bar2">
            {{#if displayBar2}}
            <input type="number" name="bar2.value" data-bar="bar2" value="{{bar2Data.value}}" {{#unless
                bar2Data.editable}}disabled{{/unless}}>
            {{/if}}
        </div>

        <div class="attribute bar1">
            {{#if displayBar1}}
            <input type="number" name="bar1.value" data-bar="bar1" value="{{bar1Data.value}}" {{#unless
                bar1Data.editable}}disabled{{/unless}}>
            {{/if}}
        </div>
    </div>


    
    <div class="col right">
        {{#if isGM}}
        <div class="control-icon {{visibilityClass}}" data-action="visibility">
            <img src="{{icons.visibility}}" width="36" height="36" data-tooltip="{{localize " HUD.ToggleVis"}}" />
        </div>
        {{/if}}

        <!-- Status Effects -->
         
        <button type="button" class="control-icon" data-action="togglePalette" data-palette="effects"
            data-tooltip="HUD.AssignStatusEffects">
            <img src="{{icons.effects}}">
        </button>
        <div class="palette status-effects{{#if isStarship}} starship-status-effects{{/if}}" data-palette="effects">
            {{#each statusEffects as |status|}}
            <img class="effect-control {{status.cssClass}}" src="{{status.src}}" data-action="effect" {{#if
                status.title}}data-tooltip-text="{{status.title}}" {{/if}} data-status-id="{{status.id}}">
            {{/each}}
        </div>

        <!-- Movement Actions -->
        {{#if showMovementActions}}
        <button type="button" class="control-icon" data-action="togglePalette" data-palette="movementActions"
            aria-label="{{ localize " HUD.SelectMovementAction" }}" data-tooltip>
            {{#with movementActionsConfig}}
            {{#if img}}
            <img src="{{ img }}" alt="{{ localize " HUD.SelectMovementAction" }}">
            {{else}}
            <i class="{{ icon }}" inert></i>
            {{/if}}
            {{/with}}
        </button>
        <div class="palette movement-actions" data-palette="movementActions">
            {{#each movementActions as |action|}}
            <a class="movement-action-control {{action.cssClass}}" data-action="movementAction"
                data-movement-action="{{action.id}}">
                <span>
                    {{#if action.img}}
                    <img src="{{ action.img }}" alt="{{ action.label }}">
                    {{else}}
                    <i class="{{ action.icon }} fa-fw" inert></i>
                    {{/if}}
                    {{action.label}}
                </span>
            </a>
            {{/each}}
        </div>
        {{/if}}

        <!-- Targeting  -->

        <button type="button" class="control-icon {{targetClass}}" data-action="target"
            data-tooltip="HUD.ToggleTargetState">
            <i class="fa-solid fa-bullseye" inert></i>
        </button>
        
        <!-- Combat -->

        {{#if canToggleCombat}}
        <button type="button" class="control-icon {{combatClass}}" data-action="d100combat"
            data-tooltip="HUD.ToggleCombatState">
            <img src="{{icons.combat}}">
        </button>
        {{/if}}

        <!-- End Targeting and Combat -->

    </div>

</form>