<form id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off" onsubmit="event.preventDefault();">

    <div class="col left">
        {{#if isSpaceActor}}
        <div title="Turn Left" class="control-icon" data-action="rotateL">
            <i class="fas fa-reply"></i>
        </div>


        <div title="Turn Right" class="control-icon" data-action="rotateR">
            <i class="fas fa-share"></i>
        </div>

        <div class="attribute elevation">
            <!-- <i class="fas fa-angle-up"></i> -->
            
            <input type="text" title="Heading" name="rotation" value="{{rotation}}"></input>
            
        </div>
        <div title="Current Speed" class="attribute elevation">
            <!-- <i class="fas fa-angle-up"></i> -->
            <input type="text" name="speed" value="{{speed}}">
        </div>
        {{/if}}
        {{#if (not isSpaceActor)}}
        <div class="lightAngle">
            <!-- <i class="fas fa-angle-up"></i> -->
            <input type="text" name="lightAngle" value="{{lightAngle}}">
        </div>


        <div class="attribute elevation">
            <!-- <i class="fas fa-angle-up"></i> -->
            <input type="text" name="elevation" value="{{elevation}}">
        </div>
        {{/if}}
        {{#if canConfigure}}
        <div class="control-icon" data-action="config">
            <i class="fas fa-cog"></i>
        </div>
        {{/if}}

        <div class="control-icon {{targetClass}}" data-action="target">
            <i class="fas fa-bullseye"></i>
        </div>

    </div>



    <div class="col middle">
        <div class="attribute bar3">
            {{#if displayBar3}}
            <input type="number" name="bar3.value" data-bar="bar3" value="{{bar3Data.value}}" {{#unless bar3Data.editable}}disabled{{/unless}}>
            {{/if}}
        </div>

        <div class="attribute bar2">
            {{#if displayBar2}}
            <input type="number" name="bar2.value" data-bar="bar2" value="{{bar2Data.value}}" {{#unless bar2Data.editable}}disabled{{/unless}}>
            {{/if}}
        </div>

        <div class="attribute bar1">
            {{#if displayBar1}}
            <input type="number" name="bar1.value" data-bar="bar1" value="{{bar1Data.value}}" {{#unless bar1Data.editable}}disabled{{/unless}}>
            {{/if}}
        </div>
    </div>

    <div class="col right">
        {{#if isGM}}
        <div class="control-icon {{visibilityClass}}" data-action="visibility">
            <img src="{{icons.visibility}}" width="36" height="36" title="{{localize "HUD.ToggleVis"}}"/>
        </div>
        {{/if}}

        <div class="control-icon {{effectsClass}}" data-action="effects">
            <img src="{{icons.effects}}" width="36" height="36" title="{{localize "HUD.AssignStatusEffects"}}"/>
            <div class="status-effects">
                {{#each statusEffects as |status src|}}
                <img class="effect-control {{status.cssClass}}" src="{{status.src}}"

                     {{#if status.title}} data-tooltip ="{{status.title}}"{{/if}} data-status-id="{{status.id}}"/>
                {{/each}}
            </div>
        </div>
        {{console "hud/token-hud 82"}}
        {{console this}}
        {{#if canToggleCombat}}
        <div class="control-icon {{combatClass}}" data-action="combat">
            <img src="{{icons.combat}}" width="36" height="36" title="{{localize "HUD.ToggleCombatState"}}"/>
        </div>
        {{/if}}
    </div>
</form>
