<div class="Alternityd100 chat-card item-card item-defend-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if sceneId}}data-scene-id="{{sceneId}}"{{/if}}>
  {{#if (eq action "Heals")}}
  <h3 class="chat-card-title" title="{{rollData.armorroll}}">Healing: {{rollData.data.damage}}</h3>
  {{/if}}
  {{#if (eq action "Damage")}}
  <span class="chat-card-title" title="{{rollData.armorroll}}">Damage: {{rollData.data.damage}} {{localize rollData.data.dmgtype}} ({{rollData.data.type}})({{localize (lookup @root.toughnessMap rollData.data.firepower)}})</span>
  {{/if}}
  
  {{console "Item Defence- Card 3" }}
    {{console this }}
    {{#each rollData.defence as |rd count|}}
   


    <header class="card-header flexrow">
            {{#if @root.actor.system.isSpaceActor}}
        <img class="action-img" src="{{rd.armor.img}}" data-tooltip="{{rd.armor.name}} <br> ({{localize (lookup @root.toughnessMap ../actor.system.frame.system.toughness)}})" />
        {{else  }}
        <img class="action-img" src="{{rd.armor.img}}" data-tooltip="{{rd.armor.name}} <br> ({{localize (lookup @root.toughnessMap rd.armor.system.firepower)}})" />
        {{/if}}
        <div class="flexcol">
   
                           {{#if (eq ../action "Defends_no")}}
                  <h3 data-tooltip="{{r.armorroll}}" class="action-name">{{rd.armor.name}} ({{localize (lookup @root.toughnessMap rd.armor.system.firepower)}})</h3>
            {{/if}}       
                 
            
            <table class="defend-damage-table" title="{{rollData.armorroll}}">
              <thead>
                <tr>
                  <th class="type">Type</th>
                  <th>Orig</th>
                  <th>Take</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="type">Stun</th>
                  <td>{{rd.damage.stu.base}}</td>
                  <td>{{rd.damage.stu.value}}</td>
                </tr>
                <tr>
                  <th class="type">Wound</th>
                  <td>{{rd.damage.wou.base}}</td>
                  <td>{{rd.damage.wou.value}}</td>
                </tr>
                <tr>
                  <th class="type">Mort</th>
                  <td>{{rd.damage.mor.base}}</td>
                  <td>{{rd.damage.mor.value}}</td>
                </tr>
                {{#if @root.actor.system.isSpaceActor}}
                <tr>
                  <th class="type">Crit</th>
                  <td>{{rd.damage.cri.base}}</td>
                  <td>{{rd.damage.cri.value}}</td>
                </tr>
                {{/if}}
                                <tr>
                  <th class="type">FP</th>
                  <td colspan="2">{{localize (lookup @root.toughnessMap ../rollData.data.firepower)}}</td>

                </tr>
              </tbody>
            </table>
            
          
        </div>
    </header>

    <div data-tooltip-direction="UP"  data-tooltip="{{rd.armor.name}} {{rd.roll.formula}}"  class="dice-roll" data-action="expandRoll">
      <div class="dice-result">
        <div class="dice-formula">{{rd.roll.formula}}</div>
        {{{rd.roll.tooltip}}}
        <h4 class="dice-total{{#if isNat20}} natural-20{{/if}}{{#if isCrit}} critical-threat success{{/if}}{{#if isFumble}} failure{{/if}}">{{rd.roll.total}}</h4>
      </div>
      </div>

     

      <div class="card-content">
        {{console "IDC 190"}}
        {{console rd}}
        {{console ../this}}
      <div class="ApplyPending" data-gm-sensitive-uuid="{{t.token.uuid}}">

          {{#if (eq ../action "Heals")}}
            <button data-action="rollHitLoc" data-stun="{{rd.damage.stu.value}}" data-wound="{{rd.damage.wou.value}}" data-mortal="{{rd.damage.mor.value}}" data-critical="{{rd.damage.cri.value}}" data-tokenid = "{{../tokenId}}" data-actorId="{{../actor._id}}" data-firepower="{{t.firepower}}" data-type="{{t.type}}" data-tooltip-direction="UP" data-tooltip="{{rd.armor.name}} {{rd.roll.formula}}" > Apply As Pending Healing </button>
        {{else  }}
            <button data-action="rollHitLoc" data-stun="{{rd.damage.stu.value}}" data-wound="{{rd.damage.wou.value}}" data-mortal="{{rd.damage.mor.value}}" data-critical="{{rd.damage.cri.value}}" data-tokenid = "{{../tokenId}}" data-actorId="{{../actor._id}}" data-firepower="{{t.firepower}}" data-type="{{t.type}}" data-tooltip-direction="UP" data-tooltip="{{rd.armor.name}} {{rd.roll.formula}}" > Apply As Pending Damage </button>
     {{/if}}
          </div>
    </div>


<!----------------------------------------------->
{{console "Item Defence- Card 31" }}
    {{console ../this }}
 
    
<!----------------------------------------------->

    {{/each}}






    <div class="card-buttons">
        {{#if hasAttack}}<button data-action="attack">{{ localize "SFRPG.Attack" }}</button>{{/if}}
        {{#if hasDamage}}<button data-action="damage">{{ localize "SFRPG.Damage.Title" }}</button>{{/if}}
        {{!-- {{#if isVersatile}}<button data-action="versatile">{{ localize "SFRPG.Versatile" }}</button>{{/if}} --}}
        {{#if hasSave}}<button data-action="save" data-type="{{item.system.save.type}}">{{ localize "SFRPG.Save" }} {{labels.save}}</button>{{/if}}
    </div>

    <footer class="card-footer">
       <span style="font-size: 3px;" >defend-card</span>
        {{#each data.properties}}
        <span>{{this}}</span>

        {{/each}}
        
    </footer>
</div>
