<form class="flexcol {{cssClass}}" autocomplete="off">

    {{console this}}
    {{!-- Sheet Header --}}
    <header class="sheet-header" style="font-family: serpentine">
        <table class="hptable">
            <thead>
                <tr>

                    <td colspan="2" class="header-fields">
                        <h1 class="charname">
                            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                        </h1>
                    </td>
                    <td>
                        {{#if isGM}}
                        <p class="clickpingtoken"> Token: {{options.token.name}} </p>
                        {{/if}}
                        <!--       <input class=" rollable " style="font-family: serpentine" type="button" data-roll="d20" name="Actioncheck" value="Action Check"/> -->
                    </td>
                </tr>
                <tr>
                    <td class="profile-img" style="width: 110px;">
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                            width="100" />
                    </td>
                    <td colspan="2">
                        <!-- Stick in the HP table here-->



                        <ul class="attributes flexrow">
                            <li class="attribute health" data-tippy-content="{{ localize " SFRPG.HullPoints" }}<br />
                            @attributes.hp.value<br />@attributes.hp.max">
                            <h4 class="attribute-name box-title">{{ localize "SFRPG.Durability" }}</h4>
                            <table class="statTable">
                                <thead>
                                    <tr>

                                        <th>
                                            <label>Type</label>
                                        </th>
                                        <th>
                                            <label>Pend</label>
                                        </th>
                                        <th>
                                            <label>Val</label>
                                        </th>
                                        <th>
                                            <label>Max</label>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td style="text-align: left">
                                            <label>Stun</label>
                                        </td>
                                        <td>
                                            <input name="system.attributes.stu.pending" type="number"
                                                value="{{system.attributes.stu.pending}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input name="system.attributes.stu.value" type="number"
                                                value="{{system.attributes.stu.value}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input disabled name="system.attributes.stu.max" type="number"
                                                value="{{system.attributes.stu.max}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                    </tr>
                                    <tr>

                                        <td style="text-align: left;">
                                            <label>Wound</label>
                                        </td>
                                        <td>
                                            <input name="system.attributes.wou.pending" type="number"
                                                value="{{system.attributes.wou.pending}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input name="system.attributes.wou.value" type="number"
                                                value="{{system.attributes.wou.value}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input disabled name="system.attributes.wou.max" type="number"
                                                value="{{system.attributes.wou.max}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                    </tr>
                                    <tr>

                                        <td style="text-align: left;">
                                            <label>Mortal</label>
                                        </td>
                                        <td>
                                            <input name="system.attributes.mor.pending" type="number"
                                                value="{{system.attributes.mor.pending}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input name="system.attributes.mor.value" type="number"
                                                value="{{system.attributes.mor.value}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input disabled name="system.attributes.mor.max" type="number"
                                                value="{{system.attributes.mor.max}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                    </tr>

                                </tbody>

                            </table>



                            <!-- <div class="attribute-value multiple">
                    
                    <label> Stun__ </label>

                    <input name="system.attributes.stu.pending" type="text" value="{{system.attributes.stu.value}}" data-dtype="Number" placeholder="10" />
                    <span class="sep"> / </span>
                    <label>{{system.attributes.stu.max}}</label>
                </div>
                <div class="attribute-value multiple">
                    <label>Wound</label>
                    <input name="system.attributes.wou.pending" type="number" value="{{system.attributes.wou.pending}}"
                        data-dtype="Number" placeholder="10" />/
                        <input name="system.attributes.wou.value" type="number" value="{{system.attributes.wou.value}}"
                        data-dtype="Number" placeholder="10" />/

                    <label>{{system.attributes.wou.max}}</label>
                </div>
                <div class="attribute-value multiple">
                    <label>Mortal</label>
                    <input name="system.attributes.mor.value" type="text" value="{{system.attributes.mor.value}}"
                        data-dtype="Number" placeholder="10" />
                    <span class="sep"> / </span>
                    <label>{{system.attributes.mor.max}}</label>
                </div>
                <div class="attribute-value multiple">
                    <label>Critical</label>
                    <input name="system.attributes.cri.value" type="text" value="{{system.attributes.cri.value}}"
                        data-dtype="Number" placeholder="10" />
                    <span class="sep"> / </span>
                    <label>{{system.attributes.cri.max}}</label>
                </div>
                -->
                            </li>

                            <li class="attribute">
                                <h4 class="attribute-name box-title">{{localize
                                    "SFRPG.StarshipSheet.Header.Statistics"}}</h4>
                                <table class="statTable">

                                    <tbody>
                                        <!-- <tr>
                        <td>{{localize "SFRPG.StarshipSheet.Header.PCU"}}</td>
                        <td>{{system.attributes.power.value}}</td>
                        <td>{{system.attributes.hullPoints.max}}</td>
                    </tr>
                    <tr>
                        <td>{{localize "SFRPG.StarshipSheet.Header.BHP"}}</td>
                        <td>{{system.attributes.hullPoints.value}}</td>
                        <td>{{system.attributes.hullPoints.max}}</td>
                    </tr>
                    -->
                                        <tr data-tippy-content="laser-mass-psi-radar-thermal">
                                            <td>{{localize "ECM"}}</td>
                                            <td colspan="2"> {{#each system.attributes.ECM as |res|}}
                                                {{res.value}}
                                                {{/each}}
                                            </td>

                                        </tr>
                                        <tr
                                            data-tippy-content="{{system.attributes.resistance.tooltip}} (area-beam-bomb-mine-missile-projectile-special-torpedo)">
                                            <td>{{localize "RES"}}</td>
                                            <td colspan="2">
                                                {{system.attributes.resistance.base}}
                                                ({{system.attributes.resistance.area}}-{{system.attributes.resistance.beam}}-{{system.attributes.resistance.bomb}}-{{system.attributes.resistance.mine}}-{{system.attributes.resistance.missile}}-{{system.attributes.resistance.projectile}}-{{system.attributes.resistance.special}}-{{system.attributes.resistance.torpedo}})
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>{{localize "Price"}}</td>
                                            <td colspan="2">{{system.price.value}}</td>

                                        </tr>
                                    </tbody>
                                </table>




                            </li>
                            <li class="attribute">
                                <h4 class="attribute-name box-title">{{localize
                                    "Misc"}}</h4>
                                <table class="statTable">

                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{system.attributes.accel.value}}</td>

                                        </tr>
                                        <tr>
                                            <td>{{localize "2"}}</td>
                                            <td>{{options.token.elevation}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{localize "3"}}</td>
                                            <td>{{options.token.elevation}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{localize "4 "}}</td>
                                            <td>{{options.token.rotation}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <!--
            <li class="attribute">
                <h4 class="attribute-name box-title" data-tooltip="{{localize "SFRPG.StarshipSheet.Header.Movement.Maneuverability"}}<br/>@attributes.maneuverability<br/><br/>{{system.attributes.maneuverability}}">{{localize "SFRPG.StarshipSheet.Header.Movement.Title"}}</h4>
                <ol class="attribute-multibox " >
                    {{#if hasEngines}}
                    <li class="box-header flexrow">
                        <label></label>
                        <label>{{localize "SFRPG.StarshipSheet.Header.Value"}}</label>
                    </li>
                    <li class="flexrow" data-tooltip="{{localize "SFRPG.StarshipSheet.Header.Movement.Speed"}}<br/>@attributes.accel.value<br/><br/>{{#each system.attributes.accel.tooltip as |tip|}}{{tip}}<br/>{{/each}}">
                        <label style="font-size: 13px;">{{localize "Accel"}}</label>
                        <label style="font-size: 13px;">{{system.attributes.accel.value}}</label>
                    </li>
                    <li class="flexrow" data-tooltip="{{localize "Maneuverability"}}<br/>@attributes.maneuverability<br/><br/>{{system.attributes.maneuverability}}<br/>">
                        <label style="font-size: 13px;">{{localize "Maneuver"}}</label>
                        <label style="font-size: 13px;">{{system.attributes.maneuverability}}</label>
                    </li>
                    <li class="flexrow" data-tooltip="{{localize "FTL"}}<br/>@attributes.ftl.text<br/><br/>{{system.attributes.ftl.text}}<br/>">
                        <label style="font-size: 13px;">{{localize "FTL "}}</label>
                        <label style="font-size: 13px;">{{system.attributes.ftl.range}}</label>
                    </li>
                    {{else}}
                    <li class="flexrow">
                        <label class="error">{{ localize "SFRPG.StarshipSheet.Header.Movement.EnginesMissing" }}</label>
                    </li>
                    {{/if}}
                </ol>
            </li>
-->
                        </ul>


                        <!-- EO HP table here-->
                    </td>
                </tr>




            </thead>
            <tbody>
                <tr>

                    <td colspan="3">


                        <div class="divTable crewTable">

                            <div class="divTableBody">

                                {{#each status.durability as |category id|}}

                                <div class="divTableRow">
                                    {{#if (eq id "stu") }}

                                    <div class="divTableCell"><button style="height: 26px;" class="clickapplydamge"
                                            data-tooltip-direction="UP" data-tooltip="Apply Temp Damage">{{ localize
                                            "d100A.stun"}}</button></div>

                                    {{/if}}
                                    {{#if (eq id "wou") }}<div class="divTableCell" data-tooltip="{{ localize "
                                        d100A.DamageTypeTooltip.Wound" }}">{{ localize "d100A.wound"}}</div> {{/if}}
                                    {{#if (eq id "mor") }}<div class="divTableCell" data-tooltip="{{ localize "
                                        d100A.DamageTypeTooltip.Mortal" }}">{{ localize "d100A.mortal"}}</div> {{/if}}

                                    <div class="divTableCell">
                                        {{#each category.good as |position|}}
                                        <img class="clickgood" src="{{../../status.image.good}}"
                                            title="{{position.title}}" data-position={{position.value}}
                                            data-type="total-dec" data-id={{id}} data-category="total" height="15"
                                            width="15" />
                                        {{/each}}
                                        {{#each category.pend as |position|}}
                                        <img class="clickgood" src="{{../../status.image.pend}}"
                                            title="{{position.title}}" data-position={{position.value}}
                                            data-type="total-inc" data-id={{id}} data-category="total" height="15"
                                            width="15" />
                                        {{/each}}
                                        {{#each category.bad as |position|}}
                                        <img class="clickgood" src="{{../../status.image.bad}}"
                                            title="{{position.title}}" data-position={{position.value}}
                                            data-type="total-inc" data-id={{id}} data-category="total" height="15"
                                            width="15" />
                                        {{/each}}

                                    </div>
                                </div>
                                {{/each}}


                            </div>
                        </div>

                    </td>


                </tr>


            </tbody>
        </table>




















    </header>

    <nav class="sheet-navigation tabs" data-group="primary">

        <a class="item active" data-tab="attacks">{{ localize "SFRPG.VehicleSheet.Tabs.Attacks" }}</a>

        <a class="item" data-tab="inventory">{{ localize "Inventory" }}</a>

        <a class="item" data-tab="notes">{{ localize "SFRPG.Notes" }}</a>
        <a class="item " data-tab="details">{{ localize "Design" }}</a>
    </nav>

    <section class="sheet-body">

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">


            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">

                        <div class="divTable blueTable2">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell">



                                        <div style="justify-content: center;" class="form-group">
                                            <h3 class="form-header"> Basics </h3>

                                        </div>


                                        <div class="form-group">
                                            <label>{{ localize "Stun" }}</label>
                                            <div class="form-fields">
                                                <input type="number" name="system.attributes.stu.base"
                                                    value="{{system.attributes.stu.base}}" data-dtype="Number" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ localize "Wound" }}</label>
                                            <div class="form-fields">
                                                <input type="number" name="system.attributes.wou.base"
                                                    value="{{system.attributes.wou.base}}" data-dtype="Number" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ localize "Mortal" }}</label>
                                            <div class="form-fields">
                                                <input type="number" name="system.attributes.mor.base"
                                                    value="{{system.attributes.mor.base}}" data-dtype="Number" />
                                            </div>
                                        </div>
                                        {{!-- Weapon Availability --}}
                                        <div class="form-group"
                                            data-tooltip="{{localize 'd100A.availabilitytooltip' }}">
                                            <label>{{ localize "d100A.availability" }}</label>
                                            <select name="system.details.availability">
                                                {{ selectOptions d100Aconfig.availability selected=system.details.availability blank="" }}
                                            </select>
                                        </div>

                                        {{!-- Weapon Clip Cost --}}
                                        <div class="form-group"
                                            data-tooltip="{{localize 'SFRPG.VehicleSheet.Details.Movement.CostTooltip'}}">
                                            <label>{{ localize 'SFRPG.VehicleSheet.Details.Movement.Cost' }}</label>
                                            <div class="form-fields">
                                                <input type="text" style="text-align: center; size: 20 px; "
                                                    name="system.details.price.base"
                                                    value="{{system.details.price.base}}" data-dtype="Number"
                                                    placeholder="0" />
                                            </div>
                                        </div>




                                    </div>
                                    <div class="divTableCell">



                                        <div style="justify-content: center;" class="form-group">
                                            <h3 class="form-header"> Usage </h3>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Cover"
                                                }}</label>
                                            <div class="form-fields">
                                                <select name="system.attributes.cover">
                                                    {{ selectOptions config.vehicleCoverTypes selected=system.attributes.cover blank="" }}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
            {{!-- Attacks Tab --}}
            <div class="tab attacks" data-group="primary" data-tab="attacks">
                <p class="notification warning">{{ localize "SFRPG.VehicleSheet.Attacks.ToDo" }}</p>
                <ol class="inventory-list">
                    {{#each inventory as |section sid|}}
                    <li class="inventory-header flexrow">
                        <h3 class="item-name flexrow">{{section.label}}</h3>
                        {{#if ../isOwner}}
                        <div class="item-controls">
                            {{#if section.allowAdd}}
                            <a class="item-control item-create" title="{{localize "
                                SFRPG.ActorSheet.Inventory.Item.Create"}}" {{#each section.dataset as |v
                                k|}}data-{{k}}="{{v}}" {{/each}}>
                                <i class="fas fa-plus"></i> {{localize "SFRPG.InventoryAdd"}}
                            </a>
                            {{/if}}
                        </div>
                        {{/if}}
                    </li>

                    <ol class="item-list">
                        {{#each section.items as |item iid|}}
                        {{> "systems/Alternityd100/templates/actors/parts/actor-inventory-item.html" ../../this
                        bigItem=true
                        item=item.item children=item.contents disableEquipping=true }}
                        {{/each}}
                    </ol>
                    {{/each}}
                </ol>

            </div>



            {{!-- Inventory Tab --}}

            <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
                {{> "systems/Alternityd100/templates/actors/parts/actor-inventory.html" sections=inventory}}


            </div>


            {{!-- Notes Tab --}}
            <div class="tab biography flexcol" data-group="primary" data-tab="notes">
                {{editor
                enrichedDescription
                target="system.details.description.value"
                button=true
                editable=editable
                }}
            </div>
    </section>
</form>