<main class="flexcol {{cssClass}}">
    <header class="sheet-header">
        <table class="vitals-table">
            <tbody>
                <tr>
                    <td class="profile-img" style="width: 110px;">
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
                    </td>
                    <td class="header-fields">
                        <input name="name" type="text" value="{{actor.name}}" data-tooltip="<strong>{{localize "SFRPG.CharacterNamePlaceHolderText"}}</strong>" placeholder="{{localize "SFRPG.CharacterNamePlaceHolderText"}}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </header>
    <span style="flex: 0 0 5px;"></span>
    <section class="sheet-body">
        <div class="tab biography flexrow">
{{!-- This must be de-indented so it doesn't break text area for Other Visuals. --}}
{{> "systems/Alternityd100/templates/actors/parts/actor-biography.html" limited=true hideVitals=(not (eq actor.type "character"))}}
        </div>
    </section>
</main>
