<form class="flexcol {{cssClass}}" autocomplete="off">

{{console this}}
    {{!-- Sheet Header --}}
    <header class="sheet-header" style="font-family: serpentine" >
    <table class="hptable">
        <thead>
          <tr>
            <td class="profile-img" style="width: 110px;" rowspan="2">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />    
            </td>
            <td class="header-fields">
                <h1 class="charname">
                    <input  name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                </h1>
            </td>
            <td >
                Combat: {{testvalue.type}}
         <!--       <input class=" rollable " style="font-family: serpentine" type="button" data-roll="d20" name="Actioncheck" value="Action Check"/> -->
            </td>
          </tr>
          <tr>
            <td  colspan="2">
<!-- Stick in the HP table here-->



<table style="width: 100%;" > 

    <colgroup>
        <col style="width: 18%">
        <col style="width: 18%">
        <col style="width: 18%">
        <col style="width: 28%">
        <col style="width: 18%">
        </colgroup>

        <tr style="height: 18px;"  >
            <th class="resource-headx" title="{{ systemData.attributes.stu.label }}" >
            Stun
            </th>
            <th class="resource-headx" title="{{ systemData.attributes.wou.tooltip }}">
                Wound
            </th>
            <th class="resource-headx" title="{{ systemData.attributes.mor.tooltip }}">
                Mortal
            </th>
            <th class="resource-heady" title="{{ systemData.attributes.actchk.tooltip }}">
                Action Check
            </th>
            <th class="resource-headx"  >
                Actions
            </th>
        
            
        </tr> 

<tr>
      
    <td class="resourcex" title="{{ systemData.attributes.stu.tooltip }}">
            <input type="number" name="system.attributes.stu.value" value="{{systemData.attributes.stu.value}}"/>
            <input type="number" name="system.attributes.stu.pending" value="{{systemData.attributes.stu.pending}}"/>
            <input disabled="true" title="{{ systemData.attributes.stu.tooltip }}" type="number" name="system.attributes.stu.max" value="{{systemData.attributes.stu.max}}"/>
        
    </td>
    <td class="resourcex" title="{{ systemData.attributes.wou.tooltip }}">
            <input type="number" name="system.attributes.wou.value" value="{{systemData.attributes.wou.value}}"/>
            <input type="number" name="system.attributes.wou.pending" value="{{systemData.attributes.wou.pending}}"/>
            <input disabled="true" title="{{ systemData.attributes.wou.tooltip }}" type="number" name="system.attributes.wou.max" value="{{systemData.attributes.wou.max}}"/>
 
    </td>
    <td class="resourcex" title="{{ systemData.attributes.mor.tooltip }}">
            <input type="number" name="system.attributes.mor.value" value="{{systemData.attributes.mor.value}}"/>
            <input type="number" name="system.attributes.mor.pending" value="{{systemData.attributes.mor.pending}}"/>
            <input disabled="true" title="{{ systemData.attributes.mor.tooltip }}" type="number" name="system.attributes.mor.max" value="{{systemData.attributes.mor.max}}"/>

    </td>
    <td class="resourcey">
            <input disabled="true" value="{{systemData.attributes.actchk.ordinary}}"/>
            <input disabled="true" value=" {{systemData.attributes.actchk.good}} "/>
            <input disabled="true" value=" {{systemData.attributes.actchk.amazing}}"/>
    </td>

<td class="resourcex">
    <input disabled="true"  value="{{systemData.attributes.actchk.apr}}"/>
</td>

    </tr>


</table>




<!-- EO HP table here-->
            </td>
          </tr>




        </thead>
        <tbody>
            <tr>

                <td colspan="3" >


                    <div class="divTable crewTable">

                        <div class="divTableBody">

                        {{#each status.durability as |category id|}}

                        <div class="divTableRow">
                        {{#if (eq id "stu") }}<div class="divTableCell">{{ localize "d100A.stun"}}</div> {{/if}}
                        {{#if (eq id "wou") }}<div class="divTableCell">{{ localize "d100A.wound"}}</div> {{/if}}
                        {{#if (eq id "mor") }}<div class="divTableCell">{{ localize "d100A.mortal"}}</div> {{/if}}

                        <div class="divTableCell">
                            {{#each category.good as |position|}}
                            <img class="clickgood" src="{{../../status.image.good}}" title="{{position.title}}" data-position={{position.value}} data-type="total-dec" data-id={{id}} data-category="total" height="15" width="15" />
                            {{/each}}
                            {{#each category.pend as |position|}}
                            <img class="clickgood" src="{{../../status.image.pend}}"  title="{{position.title}}" data-position={{position.value}} data-type="total-inc" data-id={{id}} data-category="total" height="15" width="15" />
                            {{/each}}  
                            {{#each category.bad as |position|}}
                            <img class="clickgood" src="{{../../status.image.bad}}"  title="{{position.title}}" data-position={{position.value}} data-type="total-inc" data-id={{id}} data-category="total" height="15" width="15" />
                            {{/each}}     
               
                        </div>
                        </div>
                        {{/each}}
                
                
                        </div>
                        </div>

                </td>


            </tr>


        </tbody>
        </table>
        







        
                




            
            
            
            
 

    </header>

    
    {{!-- Sheet Tab Navigation --}}
 
    <nav class="sheet-tabs tabs" data-group="primary">
  
    <a class="item" data-tab="stats">Stats</a>
	
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="features">{{ localize "SFRPG.Features" }}</a>

    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="modifiers">{{localize "SFRPG.Modifiers"}}</a>
    <a class="item" data-tab="spellbook">{{ localize "SFRPG.SpellBook.Spellbook" }}</a>
	<a class="item" data-tab="history">History</a>
   

<!--
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="perks">Perks</a>
	<a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="achievements">Achievements</a>
     <a class="item" data-tab="attributes">Attributes</a>
-->


    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h3>Supporting Character</h3>
        {{!-- Stats Tab --}}
        <div class="tab description" data-group="primary" data-tab="stats" style="width: 100%;">
            
<!-- Write your comments here -->   

<div class="divTable blueTable" >
    <div class="divTableBody">
    <div class="divTableRow">
 <!-- Ability Scores -->    
            <div class="divTableCell">
            <div class="divTable blueTable"style="width: 180px;">
            <div class="divTableBody">
            <div class="divTableRow">
            <div class="divTableCell" style="text-align:center;font-family: serpentine-bold;">Cur / Base</div>
            <div class="divTableCell" style="text-align:center;font-family: serpentine-bold;">Mod</div>
            <div class="divTableCell" style="text-align:center;font-family: serpentine-bold;">Roll</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell"style="text-align:right">STR<input disabled="true" type="number" name="system.abilities.str.value" value="{{systemData.abilities.str.value}}"/><input disabled="true" type="number" name="system.abilities.str.base" value="{{systemData.abilities.str.base}}"/></div>

            <div class="divTableCell"><input disabled="true" type="number" name="system.abilities.str.mod" value="{{systemData.abilities.str.mod}}"/></div>
            <div class="divTableCell"></div>




            </div>
            <div class="divTableRow">
                <div class="divTableCell"style="text-align:right">DEX<input disabled="true" type="number" name="system.abilities.dex.value" value="{{systemData.abilities.dex.value}}"/><input disabled="true" type="number" name="system.abilities.dex.base" value="{{systemData.abilities.dex.base}}"/></div>
                <div class="divTableCell"><input disabled="true" type="number" name="system.abilities.dex.mod" value="{{systemData.abilities.dex.mod}}"/></div>
                <div class="divTableCell"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell"style="text-align:right">CON<input  disabled="true" type="number" name="system.abilities.con.value" value="{{systemData.abilities.con.value}}"/><input disabled="true" type="number" name="system.abilities.con.base" value="{{systemData.abilities.con.base}}"/></div>
                <div class="divTableCell"><input disabled="true" type="number" name="system.abilities.con.mod" value="{{systemData.abilities.con.mod}}"/></div>
                <div class="divTableCell"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell"style="text-align:right">INT<input  disabled="true" type="number" name="system.abilities.int.value" value="{{systemData.abilities.int.value}}"/><input disabled="true" type="number" name="system.abilities.int.base" value="{{systemData.abilities.int.base}}"/></div>
                <div class="divTableCell"><input disabled="true" type="number" name="system.abilities.int.mod" value="{{systemData.abilities.int.mod}}"/></div>
                <div class="divTableCell"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell"style="text-align:right">WIL<input disabled="true" type="number" name="system.abilities.wil.value" value="{{systemData.abilities.wil.value}}"/><input disabled="true" type="number" name="system.abilities.wil.base" value="{{systemData.abilities.wil.base}}"/></div>
                <div class="divTableCell"><input disabled="true" type="number" name="system.abilities.wil.mod" value="{{systemData.abilities.wil.mod}}"/></div>
                <div class="divTableCell"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell"style="text-align:right">PER<input disabled="true"type="number" name="system.abilities.per.value" value="{{systemData.abilities.per.value}}"/><input disabled="true" type="number" name="system.abilities.per.base" value="{{systemData.abilities.per.base}}"/></div>
                <div class="divTableCell"><input disabled="true" type="number" name="system.abilities.per.mod" value="{{systemData.abilities.per.mod}}"/></div>
                <div class="divTableCell"></div>
            </div>
            </div>
            </div>  
        </div> 
<!-- End Ability Scores --> 


    
   <!-- Speed Scores -->  
<div class="divTableCell">
    <div class="divTable blueTable"style="width: 30%;">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableCell" style="text-align:center;font-family: serpentine-bold;">Combat Movement</div>
    <div class="divTableCell" style="text-align:center"></div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell"style="text-align:right">Sprint</div>
    <div class="divTableCell"><input style="width: 40px" disabled="true" type="number" name="system.attributes.speed.sprint.base" value="{{systemData.attributes.speed.sprint.base}}"/></div>
    <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Run</div>
        <div class="divTableCell"><input style="width: 40px" disabled="true" type="number" name="system.attributes.speed.run.base" value="{{systemData.attributes.speed.run.base}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Walk</div>
        <div class="divTableCell"><input style="width: 40px" disabled="true" type="number" name="system.attributes.speed.walk.base" value="{{systemData.attributes.speed.walk.base}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Easy Swim</div>
        <div class="divTableCell"><input style="width: 40px" disabled="true" type="number" name="system.attributes.speed.easyswim.base" value="{{systemData.attributes.speed.easyswim.base}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Swim</div>
        <div class="divTableCell"><input style="width:40px " disabled="true" type="number" name="system.aattributes.speed.swim.base" value="{{systemData.attributes.speed.swim.base}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Glyde</div>
        <div class="divTableCell"><input style="width: 40px" disabled="true" type="number" name="system.attributes.speed.glide.base" value="{{systemData.attributes.speed.glide.base}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Fly</div>
        <div class="divTableCell"><input style="width: 40px" disabled="true" type="number" name="system.attributes.speed.fly.base" value="{{systemData.attributes.speed.fly.base}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    </div>
    </div>  
</div> 
<!-- End Speed --> 

   <!-- Speed Bio Data -->  
   <div class="divTableCell">
    <div class="divTable blueTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableCell" style="text-align:right;font-family: serpentine-bold;">Biodata</div>
    <div class="divTableCell" style="text-align:right;width: fit-content;">-</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Species</div>
        <div class="divTableCell"><input style="width: fit-content;text-align:left"  type="text" name="daxta.details.species" value="{{systemData.details.species}}"/></div>
        <div class="divTableCell"></div>
    </div>
    <!--    <div class="divTableRow">
            <div class="divTableCell"style="text-align:right">Species: </div>
            
                {{systemData.details.species}}
                
        </div>-->

    
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Gender</div>
        <!--<div class="divTableCell"><input style="width: fit-content;text-align:left" type="text" name="daxta.details.gender" value="{{systemData.details.gender}}"/></div>-->
                    <select  class="selectrace"  name="system.details.gender"  data-type="String">
                {{#select systemData.details.gender}}
                {{#each systemData.charoptions.gender as |gender key|}}
                <option  value="{{key}}">{{gender.label}}</option> {{/each}} {{/select}}
                </select>
        </div>

    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Profession</div>
        <!--<div class="divTableCell"><input style="width: fit-content;text-align:left" type="text" name="system.details.profession.primary" value="{{systemData.details.profession.primary}}"/></div>
    -->
    <select  class="selectrace"  name="system.details.profession.primary"  data-type="String">
{{#select systemData.details.profession.primary}}
{{#each professions as |prof key|}}
<option  value="{{prof}}">{{prof}}</option> {{/each}} {{/select}}
</select>
</div>


    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">NPC Quality</div>
    <!--    <div class="divTableCell"><input style="width: fit-content;text-align:left" type="text" name="system.details.profession.secondary" value="{{systemData.details.profession.secondary}}"/></div>
    -->
    <select  class="selectrace"  name="system.details.profession.npcQuality"  data-type="String">
{{#select systemData.details.profession.npcQuality}}
{{#each npcQuality as |qual key|}}
<option  value="{{key}}">{{qual}}</option> {{/each}} {{/select}}
</select>
</div>


    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">-</div>
        <div class="divTableCell"><input style="width: fit-content;text-align:left"  type="text" name="system.details.career" value="{{systemData.details.career}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Alignment</div>
        <div class="divTableCell"><input style="width: fit-content;text-align:left"  type="text" name="system.details.socAttributes.Motivation" value="{{systemData.details.socAttributes.Motivation}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Allegiance</div>
        <div class="divTableCell"><input style="width: fit-content;text-align:left"  type="text" name="system.details.socAttributes.Moral" value="{{systemData.details.socAttributes.Moral}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Note</div>
        <div class="divTableCell"><input style="width: fit-content;text-align:left"  type="text" name="system.details.socAttributes.Trait1" value="{{systemData.details.socAttributes.Trait1}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Note</div>
        <div class="divTableCell"><input style="width: fit-content;text-align:left"  type="text" name="system.details.socAttributes.Trait2" value="{{systemData.details.socAttributes.Trait2}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">Setting</div>
        <div class="divTableCell"><input style="width: fit-content;text-align:left"  type="text" name="system.details.setting" value="{{systemData.details.setting}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    <div class="divTableRow">
        <div class="divTableCell"style="text-align:right">GM</div>
        <div class="divTableCell"><input style="width: fit-content;text-align:left"  type="text" name="system.details.gm" value="{{systemData.details.gm}}"/></div>
        <!--<div class="divTableCell"></div>-->
    </div>
    </div>
    </div>  
</div> 
<!-- End Speed --> 



    </div>

    </div>
    
</div>

<!-- Write your comments here -->

        </div>   

 


<!-- ****SKILLS TAB HERE**** -->


        {{!-- Skills Tab --}}

        {{> "systems/Alternityd100/templates/actors/parts/actor-skills.html" }}
        
{{!-- Features Tab --}}
<div class="tab features flexcol" data-group="primary" data-tab="features">
    {{> "systems/Alternityd100/templates/actors/parts/actor-features.html" sections=features}}
</div>



       
        {{!-- Inventory Tab --}}
       
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/Alternityd100/templates/actors/parts/actor-inventory.html" sections=inventory}}

           
        </div>
       
        {{!-- Modifiers Tab --}}
        <div class="tab modifers flexcol" data-group="primary" data-tab="modifiers">
            {{> "systems/Alternityd100/templates/actors/parts/actor-modifiers.html" sections=modifiers}}
        </div>
       
        {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
          <!--  {{> "systems/Alternityd100/templates/actors/parts/actor-spellbook.html"}}-->
        </div>
        
        {{!-- History Tab --}}
        <div class="tab description" data-group="primary" data-tab="history">
             <input class=" rollable " style="font-family: serpentine" type="button" data-roll="d20" name="Actioncheck" value="Action Check"/> 
            History
                        {{editor
                enrichedBiography
                target="system.details.biography.value"
                button=true
                editable=editable
            }}
        </div>



<!--



        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            Attributes
            <header class="attributes-header flexrow">
                <span class="attributesute-key">{{localize "SIMPLE.AttributeKey"}}</span>
                <span class="attributesute-value">{{localize "SIMPLE.AttributeValue"}}</span>
                <span class="attributesute-label">{{localize "SIMPLE.AttributeLabel"}}</span>
                <span class="attributesute-dtype">{{localize "SIMPLE.AttributeDtype"}}</span>
                <a class="attributesute-control" data-action="create" data-group="{{group}}"><i class="fas fa-plus"></i></a>
            </header>

            {{!-- Render the attributesute list partial. --}}
            {{> "systems/Alternityd100/templates/parts/sheet-attributes.html" attributes=systemData.ungroupedAttributes dtypes=dtypes}}

            {{!-- Render the grouped attributes partial and control. --}}
            <div class="groups">
                {{> "systems/Alternityd100/templates/parts/sheet-groups.html" attributes=systemData.groupedAttributes groups=systemData.groups dtypes=dtypes}}

                <div class="group-controls flexrow">
                    <input class="group-prefix" type="text" value=""/>
                    <a class="button group-control" data-action="create-group"><i class="fas fa-plus"></i>Add Attribute Group</a>
                </div>
            </div>
        </div>


        {{!-- Perks Tab --}}
        <div class="tab perks" data-group="primary" data-tab="perks">
            Perks
        </div>


        {{!-- Achievements Tab --}}
        <div class="tab achievements" data-group="primary" data-tab="achievements">
          Achievements
        </div>



 {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            items
            <ol class="item-list">
                {{#each system.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-buttons">
                        {{#each item.system.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "SIMPLE.ItemCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ItemCreate" }}</a>
            </p>
        </div>


       {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            combat
        </div>


-->




    </section>
</form>