<form class="{{cssClass}} flexcol" autocomplete="off">

    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <div class="header-background flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SFRPG.HazardSheet.Header.NamePlaceholder"}}" />
                </h1>

                <div class="charlevel">
                    <div class="level">
                        <label>CR</label>
                        <input name="system.details.cr.value" type="text" value="{{system.details.cr.value}}" placeholder="1" />
                    </div>
                    <div class="experience">
                        <span>{{system.details.xp.value}} Not XP</span>
                    </div>
                </div>
            </div>
            <ul class="summary-row1 flexrow">
                <li>
                    <input type="text" name="system.details.type" value="{{system.details.type}}" placeholder="{{localize "SFRPG.HazardSheet.Header.SourcePlaceholder"}}" />
                </li>
            </ul>
            <ul class="summary-row2 flexrow">
                <li>
                    <input type="text" name="system.details.source" value="{{system.details.source}}" placeholder="{{localize "SFRPG.HazardSheet.Header.TypePlaceholder"}}" />
                </li>
            </ul>
        </div>
    </header>

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>


            

            {{!-- Item Sheet Body --}}
            <section class="sheet-body">
                {{> "systems/Alternityd100/templates/items/parts/item-description.html" hideProperties=true}}
        
                <div class="tab details" data-tab="details" data-group="primary">


                    <div class="flexcol">
                        <h3 class="form-header">{{ localize "Target" }}</h3>
                        <div class="flexrow">
                            <div class="flexcol">
                                <div class="form-group">
                                    <div class="form-fields">
                                    <label title="{{ localize "SFRPG.HazardSheet.Details.DCs.NoticeTooltip" }}">{{ localize "Target: " }}: {{ system.targetData.Name }}{{console this}}</label>
                                    </div>
        
                                    <div class="form-fields">
                                        <label title="{{ localize "SFRPG.HazardSheet.Details.DCs.NoticeTooltip" }}">{{ localize "Range: " }}{{ system.targetData.range }}</label>
                                    </div>
                                    <div class="form-fields">
                                        <label title="{{ localize "SFRPG.HazardSheet.Details.DCs.NoticeTooltip" }}">{{ localize "Bearing: " }}{{ system.targetData.bearing }}</label>
                                    </div>
        
                                </div>
                                <div class="form-group">
                                    <label title="{{ localize "SFRPG.HazardSheet.Details.DCs.DisableTooltip" }}">{{ localize "SFRPG.HazardSheet.Details.DCs.Disable" }}</label>
        
                                </div>
                            </div>
                        </div>
                    </div>




                    <h4 class="form-header">{{ localize "Missiles, Bombs, and Mines" }}</h4>
        
                    <h4 class="section-header">"Propulsion System"</h4>
                    {{!-- Equipment Status --}}
        
                    
        
        
                    {{!-- Weapon Progress Level --}}
                    <div class="form-group">
                    <label>{{ localize "d100A.Items.Weapon.PL" }}</label>
                    <select name="system.PropProgressLevel">
                    {{#select system.PropProgressLevel}}
                    {{#each d100Aconfig.progressLevel as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                    </select>
                    </div>
                    {{!-- Propulsion Name --}}
                            
                    <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                        <label>{{ localize "d100A.Items.Ordnance.PropName" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.propName" value="{{system.propName}}" data-dtype="String" placeholder="0"/>
                         </div>
                    </div>
        
                    <div class="form-group">
                        <label>{{ localize "d100A.Items.Ordnance.OrdnanceType" }}</label>
                        <div class="form-fields">
                            <select name="system.ammunitionType">
                                {{#select system.ammunitionType}}
                                <option value="">{{ localize "d100A.Items.Ordnance.Type.None" }}</option>
                                {{#each d100Aconfig.ordnanceTypes as |ammunition type|}}
                                <option value="{{type}}">{{ammunition}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    
                    {{!-- Guidance Tech --}}
                             
                    <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                        <label>{{ localize "d100A.Items.Ordnance.Tech" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.propTech" value="{{system.propTech}}" data-dtype="String" placeholder="0"/>
                         </div>
                    </div>
        
                    <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                 
                        <label>{{ localize "d100A.Items.Ordnance.Size" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.size" value="{{system.size}}" data-dtype="Number" placeholder=1 />
                        </div>
                      </div>
                     
                      <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                 
                        <label>{{ localize "d100A.Items.Ordnance.War" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.warhead" value="{{system.warhead}}" data-dtype="Number" placeholder=1 />
                        </div>
                      </div>   
                     
                      <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                 
                        <label>{{ localize "d100A.Items.Ordnance.PropCost" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.propCost" value="{{system.propCost}}" data-dtype="Number" placeholder=1 />
                        </div>
                      </div>      
        
                      <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                 
                        <label>{{ localize "d100A.Items.Ordnance.PropAcc" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.propAcc" value="{{system.propAcc}}" data-dtype="Number" placeholder=1 />
                        </div>
                      </div>            
                 
                      <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                 
                        <label>{{ localize "d100A.Items.Ordnance.Endurance" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.end" value="{{system.end}}" data-dtype="Number" placeholder=1 />
                        </div>
                      </div>   
                      <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                 
                        <label>{{ localize "d100A.Items.Ordnance.Acceleration" }}</label> 
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.accel" value="{{system.accel}}" data-dtype="Number" placeholder=1 />
                        </div>
                      </div>
                     <!-- **************  Warhead Details  ***************************-->
        
                    <h4 class="section-header">Warhead</h4>
        
                    {{!-- Warhead Progress Level --}}
                    <div class="form-group">
                    <label>{{ localize "d100A.Items.Weapon.PL" }}</label>
                    <select name="system.progressLevel">
                    {{#select system.progressLevel}}
                    {{#each d100Aconfig.progressLevel as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                    </select>
                    </div>
                   
                    {{!-- Warhead Name --}}
                            
                    <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                        <label>{{ localize "d100A.Items.Ordnance.WarName" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.warName" value="{{system.warName}}" data-dtype="String" placeholder="0"/>
                         </div>
                    </div>
                    {{!-- Warhead Tech --}}
                            
                    <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                        <label>{{ localize "Tech" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.warTech" value="{{system.warTech}}" data-dtype="String" placeholder="0"/>
                         </div>
                    </div>
        
        
                    <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                      <label>{{ localize "d100A.Items.Ordnance.War" }}</label>
                      <div class="form-fields">
                          <input type="text" style="text-align: center; size: 20 px; " name="system.warwarhead" value="{{system.warwarhead}}" data-dtype="Number" placeholder=1 />
                      </div>
                    </div> 
                    
                    <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                 
                      <label>{{ localize "d100A.Items.Ordnance.WarCost" }}</label>
                      <div class="form-fields">
                          <input type="text" style="text-align: center; size: 20 px; " name="system.warCost" value="{{system.warCost}}" data-dtype="Number" placeholder=1 />
                      </div>
                    </div>      
        
                    {{!-- Warhead Accuracy --}}
                            
                    <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                        <label>{{ localize "d100A.Items.Ordnance.WarAccur" }}</label>
                        <div class="form-fields">
                            <input type="text" style="text-align: center; size: 20 px; " name="system.warAccur" value="{{system.warAccur}}" data-dtype="Number" placeholder="0"/>
                         </div>
                    </div>
        
                    {{!-- Weapon Type --}}
                    <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.typeTooltip" }}">
        
                     <label>{{ localize "d100A.Items.Weapon.typename" }}</label>
                     <select name="system.type">
                     {{#select system.type}}
                     {{#each d100Aconfig.damagetype as |name type|}}
                     <option value="{{type}}">{{name}}</option>
                     {{/each}}
                     {{/select}}
                     </select>
                    </div>    
                 
                        {{!-- Weapon Firepower --}}
                        <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.firepowerTooltip" }}">
        
                          <label>{{ localize "d100A.Items.Weapon.firepowername" }}</label>
                          <select name="system.firepower">
                          {{#select system.firepower}}
                          {{#each d100Aconfig.starshipFirepower as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                          </select>
                        </div> 
        
                                                    
                        {{!-- Weapon Damage O --}}
                        <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.damageTooltip" }}">
        
                          <label>{{ localize "d100A.Items.Weapon.damageo" }}</label>
                          <input type="text" style="text-align: center" name="system.damage.ord.dice" value="{{system.damage.ord.dice}}" data-dtype="String" placeholder="0"/>/
                          
                        <select name="system.damage.ord.type">
                          {{#select system.damage.ord.type}}
                          {{#each d100Aconfig.damageQ as |name type2|}}
                          <option value="{{type2}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                          </select>
                        </div>     
                        {{!-- Weapon Damage Good --}}
                        <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.damageTooltip" }}">
        
                          <label>{{ localize "d100A.Items.Weapon.damageg" }}</label>
                          <input type="text" style="text-align: center" name="system.damage.goo.dice" value="{{system.damage.goo.dice}}" data-dtype="String" placeholder="0"/>/
                          
                        <select name="system.damage.goo.type">
                          {{#select system.damage.goo.type}}
                          {{#each d100Aconfig.damageQ as |name type2|}}
                          <option value="{{type2}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                          </select>
                        </div>  
                        {{!-- Weapon Damage Amazing --}}
                        <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.damageTooltip" }}">
        
                          <label>{{ localize "d100A.Items.Weapon.damagea" }}</label>
                          <input type="text" style="text-align: center" name="system.damage.ama.dice" value="{{system.damage.ama.dice}}" data-dtype="String" placeholder="0"/>/
                          
                        <select name="system.damage.ama.type">
                          {{#select system.damage.ama.type}}
                          {{#each d100Aconfig.damageQ as |name type2|}}
                          <option value="{{type2}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                          </select>
                        </div>  
         
                     <!-- **************  Guidance Details  ***************************-->
        
                     <h4 class="section-header">Guidance Systems</h4>
        
                     {{!-- Warhead Progress Level --}}
                     <div class="form-group">
                     <label>{{ localize "d100A.Items.Weapon.PL" }}</label>
                     <select name="system.guidanceProgressLevel">
                     {{#select system.guidanceProgressLevel}}
                     {{#each d100Aconfig.progressLevel as |name type|}}
                     <option value="{{type}}">{{name}}</option>
                     {{/each}}
                     {{/select}}
                     </select>
                     </div>
                    
                     {{!-- Guidance Name --}}
                             
                     <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                         <label>{{ localize "d100A.Items.Ordnance.GuidanceName" }}</label>
                         <div class="form-fields">
                             <input type="text" style="text-align: center; size: 20 px; " name="system.guidanceName" value="{{system.guidanceName}}" data-dtype="String" placeholder="0"/>
                          </div>
                     </div>
                     {{!-- Guidance Tech --}}
                             
                     <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                         <label>{{ localize "d100A.Items.Ordnance.Tech" }}</label>
                         <div class="form-fields">
                             <input type="text" style="text-align: center; size: 20 px; " name="system.guidanceTech" value="{{system.guidanceTech}}" data-dtype="String" placeholder="0"/>
                          </div>
                     </div>
         
                     <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.PhysicalProperties.SizeTooltip" }}">
                 
                      <label>{{ localize "d100A.Items.Ordnance.GuidanceCost" }}</label>
                      <div class="form-fields">
                          <input type="text" style="text-align: center; size: 20 px; " name="system.guidanceCost" value="{{system.guidanceCost}}" data-dtype="Number" placeholder=1 />
                      </div>
                    </div>      
         
                     {{!-- Guidance Accuracy --}}
                             
                     <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                         <label>{{ localize "d100A.Items.Ordnance.GuidanceAccur" }}</label>
                         <div class="form-fields">
                             <input type="number" style="text-align: center; size: 20 px; " name="system.guidanceAccur" value="{{system.guidanceAccur}}" data-dtype="Number" placeholder="0"/>
                          </div>
                     </div>
                     {{!-- Guidance Notes --}}
                             
                     <div class="form-group" data-tippy-content="{{ localize "d100A.Items.Weapon.accTooltip" }}">
                         <label>{{ localize "d100A.Items.Ordnance.Notes" }}</label>
                         <div class="form-fields">
                             <input type="text" style="text-align: center; size: 20 px; " name="system.guidanceNotes" value="{{system.guidanceNotes}}" data-dtype="String" placeholder="0"/>
                          </div>
                     </div>
        
        
                </div>
        
        
        
            </section>
</form>