<main class="flexcol {{cssClass}}">

    <!-- HEADER -->
    <header class="sheet-header">
        <table class="vitals-table">
            <tbody>
                <tr>
                    <td class="profile-img" style="width: 110px;">
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
                    </td>
                    <td class="header-fields">
                        <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </header>

    <!-- BODY -->
    <section class="sheet-body">
        <div class="tab biography">
            {{editor
                enrichedDescription
                target="system.details.notes"
                button=true
                editable=editable
            }}
        </div>
    </section>

</main>