<form class="flexcol {{cssClass}}" autocomplete="off">

    {{console this}}
    {{!-- Sheet Header --}}
    <header class="sheet-header" style="font-family: serpentine">
        <table class="hptable">
            <thead>
                <tr>

                    <td colspan="2" class="header-fields">
                        <h1 class="charname">
                            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                        </h1>
                    </td>
                    <td>
                        {{#if isGM}}
                        <p class="clickpingtoken"> Token: {{options.token.name}} </p>
                        {{/if}}
                        <!--       <input class=" rollable " style="font-family: serpentine" type="button" data-roll="d20" name="Actioncheck" value="Action Check"/> -->
                    </td>
                </tr>
                <tr>
                    <td class="profile-img" style="width: 110px;">
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                            width="100" />
                    </td>
                    <td colspan="2">
                        <!-- Stick in the HP table here-->



                        <ul class="attributes flexrow">
                            <li class="attribute health" data-tippy-content="{{ localize " SFRPG.HullPoints" }}<br />
                            @attributes.hp.value<br />@attributes.hp.max">
                            <h4 class="attribute-name box-title">{{ localize "SFRPG.Durability" }}</h4>
                            <table class="statTable">
                                <thead>
                                    <tr>

                                        <th>
                                            <label>Type</label>
                                        </th>
                                        <th>
                                            <label>Pend</label>
                                        </th>
                                        <th>
                                            <label>Val</label>
                                        </th>
                                        <th>
                                            <label>Max</label>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td style="text-align: left">
                                            <label>Stun</label>
                                        </td>
                                        <td>
                                            <input name="system.attributes.stu.pending" type="number"
                                                value="{{system.attributes.stu.pending}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input name="system.attributes.stu.value" type="number"
                                                value="{{system.attributes.stu.value}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input disabled name="system.attributes.stu.max" type="number"
                                                value="{{system.attributes.stu.max}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                    </tr>
                                    <tr>

                                        <td style="text-align: left;">
                                            <label>Wound</label>
                                        </td>
                                        <td>
                                            <input name="system.attributes.wou.pending" type="number"
                                                value="{{system.attributes.wou.pending}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input name="system.attributes.wou.value" type="number"
                                                value="{{system.attributes.wou.value}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input disabled name="system.attributes.wou.max" type="number"
                                                value="{{system.attributes.wou.max}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                    </tr>
                                    <tr>

                                        <td style="text-align: left;">
                                            <label>Mortal</label>
                                        </td>
                                        <td>
                                            <input name="system.attributes.mor.pending" type="number"
                                                value="{{system.attributes.mor.pending}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input name="system.attributes.mor.value" type="number"
                                                value="{{system.attributes.mor.value}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                        <td>
                                            <input disabled name="system.attributes.mor.max" type="number"
                                                value="{{system.attributes.mor.max}}" data-dtype="Number"
                                                placeholder="10" />
                                        </td>
                                    </tr>

                                </tbody>

                            </table>



                            <!-- <div class="attribute-value multiple">
                    
                    <label> Stun__ </label>

                    <input name="system.attributes.stu.pending" type="text" value="{{system.attributes.stu.value}}" data-dtype="Number" placeholder="10" />
                    <span class="sep"> / </span>
                    <label>{{system.attributes.stu.max}}</label>
                </div>
                <div class="attribute-value multiple">
                    <label>Wound</label>
                    <input name="system.attributes.wou.pending" type="number" value="{{system.attributes.wou.pending}}"
                        data-dtype="Number" placeholder="10" />/
                        <input name="system.attributes.wou.value" type="number" value="{{system.attributes.wou.value}}"
                        data-dtype="Number" placeholder="10" />/

                    <label>{{system.attributes.wou.max}}</label>
                </div>
                <div class="attribute-value multiple">
                    <label>Mortal</label>
                    <input name="system.attributes.mor.value" type="text" value="{{system.attributes.mor.value}}"
                        data-dtype="Number" placeholder="10" />
                    <span class="sep"> / </span>
                    <label>{{system.attributes.mor.max}}</label>
                </div>
                <div class="attribute-value multiple">
                    <label>Critical</label>
                    <input name="system.attributes.cri.value" type="text" value="{{system.attributes.cri.value}}"
                        data-dtype="Number" placeholder="10" />
                    <span class="sep"> / </span>
                    <label>{{system.attributes.cri.max}}</label>
                </div>
                -->
                            </li>

                            <li class="attribute">
                                <h4 class="attribute-name box-title">{{localize
                                    "SFRPG.StarshipSheet.Header.Statistics"}}</h4>
                                <table class="statTable">

                                    <tbody>
                                        <!-- <tr>
                        <td>{{localize "SFRPG.StarshipSheet.Header.PCU"}}</td>
                        <td>{{system.attributes.power.value}}</td>
                        <td>{{system.attributes.hullPoints.max}}</td>
                    </tr>
                    <tr>
                        <td>{{localize "SFRPG.StarshipSheet.Header.BHP"}}</td>
                        <td>{{system.attributes.hullPoints.value}}</td>
                        <td>{{system.attributes.hullPoints.max}}</td>
                    </tr>
                    -->
                                        <tr data-tippy-content="laser-mass-psi-radar-thermal">
                                            <td>{{localize "ECM"}}</td>
                                            <td colspan="2"> {{#each system.attributes.ECM as |res|}}
                                                {{res.value}}
                                                {{/each}}
                                            </td>

                                        </tr>
                                        <tr
                                            data-tippy-content="{{system.attributes.resistance.tooltip}} (area-beam-bomb-mine-missile-projectile-special-torpedo)">
                                            <td>{{localize "RES"}}</td>
                                            <td colspan="2">
                                                {{system.attributes.resistance.base}}
                                                ({{system.attributes.resistance.area}}-{{system.attributes.resistance.beam}}-{{system.attributes.resistance.bomb}}-{{system.attributes.resistance.mine}}-{{system.attributes.resistance.missile}}-{{system.attributes.resistance.projectile}}-{{system.attributes.resistance.special}}-{{system.attributes.resistance.torpedo}})
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>{{localize "Price"}}</td>
                                            <td colspan="2">{{system.price.value}}</td>

                                        </tr>
                                    </tbody>
                                </table>




                            </li>
                            <li class="attribute">
                                <h4 class="attribute-name box-title">{{localize
                                    "SFRPG.StarshipSheet.Header.Movement.Title"}}</h4>
                                <table class="statTable">

                                    <tbody>
                                        <tr>
                                            <td>Accel</td>
                                            <td>{{system.attributes.speed.accel.value}}</td>

                                        </tr>
                                        <tr>
                                            <td>{{localize "Speed"}}</td>
                                            <td>
                                                <input name="system.attributes.speed.current.value" type="number"
                                                    value="{{system.attributes.speed.current.value}}"
                                                    data-dtype="Number" placeholder="0" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{localize "Altitude"}}</td>
                                            <td>{{options.token.elevation}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{localize "Heading "}}</td>
                                            <td>{{options.token.rotation}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <!--
            <li class="attribute">
                <h4 class="attribute-name box-title" data-tooltip="{{localize "SFRPG.StarshipSheet.Header.Movement.Maneuverability"}}<br/>@attributes.maneuverability<br/><br/>{{system.attributes.maneuverability}}">{{localize "SFRPG.StarshipSheet.Header.Movement.Title"}}</h4>
                <ol class="attribute-multibox " >
                    {{#if hasEngines}}
                    <li class="box-header flexrow">
                        <label></label>
                        <label>{{localize "SFRPG.StarshipSheet.Header.Value"}}</label>
                    </li>
                    <li class="flexrow" data-tooltip="{{localize "SFRPG.StarshipSheet.Header.Movement.Speed"}}<br/>@attributes.accel.value<br/><br/>{{#each system.attributes.accel.tooltip as |tip|}}{{tip}}<br/>{{/each}}">
                        <label style="font-size: 13px;">{{localize "Accel"}}</label>
                        <label style="font-size: 13px;">{{system.attributes.accel.value}}</label>
                    </li>
                    <li class="flexrow" data-tooltip="{{localize "Maneuverability"}}<br/>@attributes.maneuverability<br/><br/>{{system.attributes.maneuverability}}<br/>">
                        <label style="font-size: 13px;">{{localize "Maneuver"}}</label>
                        <label style="font-size: 13px;">{{system.attributes.maneuverability}}</label>
                    </li>
                    <li class="flexrow" data-tooltip="{{localize "FTL"}}<br/>@attributes.ftl.text<br/><br/>{{system.attributes.ftl.text}}<br/>">
                        <label style="font-size: 13px;">{{localize "FTL "}}</label>
                        <label style="font-size: 13px;">{{system.attributes.ftl.range}}</label>
                    </li>
                    {{else}}
                    <li class="flexrow">
                        <label class="error">{{ localize "SFRPG.StarshipSheet.Header.Movement.EnginesMissing" }}</label>
                    </li>
                    {{/if}}
                </ol>
            </li>
-->
                        </ul>


                        <!-- EO HP table here-->
                    </td>
                </tr>




            </thead>
            <tbody>
                <tr>

                    <td colspan="3">


                        <div class="divTable crewTable">

                            <div class="divTableBody">

                                {{#each status.durability as |category id|}}

                                <div class="divTableRow">
                                    {{#if (eq id "stu") }}<div class="divTableCell" data-tooltip="{{ localize "
                                        d100A.DamageTypeTooltip.Stun" }}">{{ localize "d100A.stun"}}</div> {{/if}}
                                    {{#if (eq id "wou") }}<div class="divTableCell" data-tooltip="{{ localize "
                                        d100A.DamageTypeTooltip.Wound" }}">{{ localize "d100A.wound"}}</div> {{/if}}
                                    {{#if (eq id "mor") }}<div class="divTableCell" data-tooltip="{{ localize "
                                        d100A.DamageTypeTooltip.Mortal" }}">{{ localize "d100A.mortal"}}</div> {{/if}}

                                    <div class="divTableCell">
                                        {{#each category.good as |position|}}
                                        <img class="clickgood" src="{{../../status.image.good}}"
                                            title="{{position.title}}" data-position={{position.value}}
                                            data-type="total-dec" data-id={{id}} data-category="total" height="15"
                                            width="15" />
                                        {{/each}}
                                        {{#each category.pend as |position|}}
                                        <img class="clickgood" src="{{../../status.image.pend}}"
                                            title="{{position.title}}" data-position={{position.value}}
                                            data-type="total-inc" data-id={{id}} data-category="total" height="15"
                                            width="15" />
                                        {{/each}}
                                        {{#each category.bad as |position|}}
                                        <img class="clickgood" src="{{../../status.image.bad}}"
                                            title="{{position.title}}" data-position={{position.value}}
                                            data-type="total-inc" data-id={{id}} data-category="total" height="15"
                                            width="15" />
                                        {{/each}}

                                    </div>
                                </div>
                                {{/each}}


                            </div>
                        </div>

                    </td>


                </tr>


            </tbody>
        </table>




















    </header>

    <nav class="sheet-navigation tabs" data-group="primary">

        <a class="item active" data-tab="attacks">{{ localize "SFRPG.VehicleSheet.Tabs.Attacks" }}</a>
        <a class="item" data-tab="passengers">{{ localize "SFRPG.VehicleSheet.Tabs.Passengers" }}</a>
        <a class="item" data-tab="systems">{{ localize "SFRPG.VehicleSheet.Tabs.Systems" }}</a>
        {{#if hasHangarBays }}
        <a class="item" data-tab="hangar">{{ localize "SFRPG.VehicleSheet.Tabs.Hangar" }}</a>
        {{/if }}
        <a class="item" data-tab="notes">{{ localize "SFRPG.Notes" }}</a>
        <a class="item " data-tab="details">{{ localize "Design" }}</a>
    </nav>

    <section class="sheet-body">

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Details.Movement.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label data-tooltip="{{ localize " SFRPG.VehicleSheet.Details.Movement.AccelTooltip" }}">{{
                                localize "SFRPG.VehicleSheet.Details.Movement.Accel" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.speed.accel.base"
                                    value="{{system.attributes.speed.accel.base}}" placeholder="{{ localize "
                                    SFRPG.VehicleSheet.Details.Movement.DrivePlaceholder" }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-tooltip=""="{{ localize " SFRPG.VehicleSheet.Details.Movement.MaxTooltip" }}">{{
                                localize "SFRPG.VehicleSheet.Details.Movement.Max" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.speed.max.base"
                                    value="{{system.attributes.speed.max.base}}" placeholder="{{ localize "
                                    SFRPG.VehicleSheet.Details.Movement.FullPlaceholder" }}" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flexcol">
                <h3 class="form-header">{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Title" }}</h3>
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="form-group">
                            <label>Control</label>
                            <div class="form-fields">
                                <select name="system.attributes.controlSkill">
                                    {{#select system.attributes.controlSkill}}
                                    <option value="pil">{{ config.skills.pil }}</option>
                                    <option value="ath">{{ config.skills.ath }}</option>
                                    <option value="sur">{{ config.skills.sur }}</option>
                                    <option value="none">None</option>
                                    {{/select}}
                                </select>
                                {{#if (eq system.attributes.controlSkill "pil")}}
                                <input type="text" name="system.attributes.modifiers.piloting"
                                    value="{{system.attributes.modifiers.piloting}}" />
                                <div class="item-name flexrow {{#if (not disableRolling)}}rollable{{/if}}">
                                    <div class="passenger-action flexcol">
                                        <a class="pilotPilotingSkill">&nbsp;</a>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if (eq system.attributes.controlSkill "ath")}}
                                <input type="text" name="system.attributes.modifiers.athletics"
                                    value="{{system.attributes.modifiers.athletics}}" />
                                {{/if}}
                                {{#if (eq system.attributes.controlSkill "sur")}}
                                <input type="text" name="system.attributes.modifiers.survival"
                                    value="{{system.attributes.modifiers.survival}}" />
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-tooltip="{{localize 'SFRPG.VehicleSheet.Details.Modifiers.DriveTooltip'}}">{{
                                localize "SFRPG.VehicleSheet.Details.Modifiers.DriveMod" }}</label>
                            <div class="form-fields">
                                <input data-tooltip="{{localize 'SFRPG.VehicleSheet.Details.Modifiers.DriveTooltip'}}"
                                    type="number" name="system.attributes.speed.driveMod.base"
                                    value="{{system.attributes.speed.driveMod.base}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-tooltip="{{localize 'Bob Says Hi'}}">{{ localize "Combat Toughness (Type). Use
                                Weapon and Armor Toughness" }}</label>

                        </div>


                        <div class="form-group">
                            <label>{{ localize "Stun" }}</label>
                            <div class="form-fields">
                                <input type="number" name="system.attributes.stu.base"
                                    value="{{system.attributes.stu.base}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "Wound" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.wou.base"
                                    value="{{system.attributes.wou.base}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "Mortal" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.mor.base"
                                    value="{{system.attributes.mor.base}}" data-dtype="Number" />
                            </div>
                        </div>
                        {{!-- Weapon Availability --}}
                        <div class="form-group" data-tooltip="{{localize 'd100A.availabilitytooltip' }}">
                            <label>{{ localize "d100A.availability" }}</label>
                            <select name="system.details.availability">
                                {{#select system.details.availability}}
                                {{#each d100Aconfig.availability as |name type|}}
                                <option value="{{type}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>

                        {{!-- Weapon Clip Cost --}}
                        <div class="form-group"
                            data-tooltip="{{localize 'SFRPG.VehicleSheet.Details.Movement.CostTooltip'}}">
                            <label>{{ localize 'SFRPG.VehicleSheet.Details.Movement.Cost' }}</label>
                            <div class="form-fields">
                                <input type="text" style="text-align: center; size: 20 px; "
                                    name="system.details.price.base" value="{{system.details.price.base}}"
                                    data-dtype="Number" placeholder="0" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Cover" }}</label>
                            <div class="form-fields">
                                <select name="system.attributes.cover">
                                    {{#select system.attributes.cover}}
                                    {{#each config.vehicleCoverTypes as |cover c|}}
                                    <option value="{{c}}">{{cover}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Passengers" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.crew.passenger.limit"
                                    value="{{system.crew.passenger.limit}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.Complement" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.crew.complement.limit"
                                    value="{{system.crew.complement.limit}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.ExpansionBays" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.attributes.expansionBays.value"
                                    value="{{system.attributes.expansionBays.value}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ localize "SFRPG.VehicleSheet.Details.OtherAttributes.HangarBays" }}</label>
                            <div class="form-fields">
                                <input type="text" name="system.hangarBay.limit" value="{{system.hangarBay.limit}}"
                                    data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Attacks Tab --}}
        <div class="tab attacks" data-group="primary" data-tab="attacks">
            <p class="notification warning">{{ localize "SFRPG.VehicleSheet.Attacks.ToDo" }}</p>
            <ol class="inventory-list">
                {{#each inventory as |section sid|}}
                <li class="inventory-header flexrow">
                    <h3 class="item-name flexrow">{{section.label}}</h3>
                    {{#if ../isOwner}}
                    <div class="item-controls">
                        {{#if section.allowAdd}}
                        <a class="item-control item-create" title="{{localize "
                            SFRPG.ActorSheet.Inventory.Item.Create"}}" {{#each section.dataset as |v
                            k|}}data-{{k}}="{{v}}" {{/each}}>
                            <i class="fas fa-plus"></i> {{localize "SFRPG.InventoryAdd"}}
                        </a>
                        {{/if}}
                    </div>
                    {{/if}}
                </li>

                <ol class="item-list">
                    {{#each section.items as |item iid|}}
                    {{> "systems/Alternityd100/templates/actors/parts/actor-inventory-item.html" ../../this bigItem=true
                    item=item.item children=item.contents disableEquipping=true }}
                    {{/each}}
                </ol>
                {{/each}}
            </ol>

        </div>

        {{!-- Passengers Tab --}}
        <div class="tab attacks" data-group="primary" data-tab="passengers">
            <div class="crew-settings flexrow">
                <ol class="settings flexrow">
                    <h3>
                        {{localize "SFRPG.VehicleSheet.Passengers.Header"}}
                        <i class="fas fa-users"></i>
                    </h3>
                    {{#if isGM}}
                    <label class="checkbox">
                        <label><b>{{localize "SFRPG.VehicleSheet.Passengers.PassengersSetting"}}</b></label>
                        <input type="checkbox" name="system.crew.useNPCCrew" {{checked
                            system.crew.useNPCCrew}} />{{localize "SFRPG.VehicleSheet.Passengers.IsNPCPassengers"}}
                    </label>
                    {{/if}}
                </ol>
            </div>

            {{#unless system.crew.useNPCCrew}}
            <ol class="crew-list">
                {{#each crew as |role|}}
                <li class="flexrow crew-header {{role.cssClass}}" {{#each role.dataset as |v k|}}data-{{k}}="{{v}}"
                    {{/each}}>{{role.label}}</li>
                <ol class="crew-item-list">
                    {{#each role.actors as |actor a|}}
                    <li class="crew flexrow draggable" data-actor-id="{{actor.id}}">
                        <div class="crew-name flexrow">
                            <div class="crew-image" style="background-image: url({{actor.img}})"></div>
                            <a class="passenger-view">
                                <h4>{{actor.name}}</h4>
                            </a>
                        </div>

                        <div class="item-name flexrow {{#if (not disableRolling)}}rollable{{/if}}">
                            <div class="passenger-action flexcol">
                                <button class="tag passengerPilotingSkill">{{localize
                                    "Piloting"}}</button>
                            </div>
                        </div>

                        <div class="crew-controls">
                            <a class="crew-control crew-delete" title="Remove Crew Member"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
            {{else}}
            <ol class="crew-list">
                <p class="notification info">{{ localize "SFRPG.VehicleSheet.Passengers.NPCPilotingHint" }}</p>
            </ol>
            {{/unless}}
        </div>

        {{!-- Systems Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="systems">
            {{> "systems/Alternityd100/templates/actors/parts/actor-vehicle-systems.html" sections=features
            noFilters=true prefixTable=prefixTable}}
        </div>

        {{!-- Hangar Bays --}}
        <div class="tab features flexcol" data-group="primary" data-tab="hangar">
            <ol class="crew-list">
                <li class="flexrow crew-header {{hangarBays.cssClass}}" {{#each hangarBay.dataset as |v
                    k|}}data-{{k}}="{{v}}" {{/each}}>{{hangarBay.label}}</li>
                <ol class="crew-item-list">
                    {{#each hangarBay.actors as |actor a|}}
                    <li class="crew flexrow draggable" data-actor-id="{{actor.id}}">
                        <div class="crew-name flexrow">
                            <div class="crew-image" style="background-image: url({{actor.system.img}})"></div>
                            <a class="vehicle-view">
                                <h4>{{actor.name}}</h4>
                            </a>
                        </div>

                        <div class="crew-controls">
                            <a class="crew-control vehicle-delete" title="Remove Vehicle"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="notes">
            {{editor
            enrichedDescription
            target="system.details.description.value"
            button=true
            editable=editable
            }}
        </div>
    </section>
</form>