<form autocomplete="off" class="{{cssClass}}" data-modifier-id="{{modifier._id}}">
    <div class="form-group modifier-name">
        <label for="name">{{localize "SFRPG.ModifierNameLabel"}}</label>
        <input name="name" type="text" value="{{modifier.name}}" data-tippy-content="{{localize "SFRPG.ModifierNameTooltip"}}">
    </div>
    <div class="form-group modifier-modifier">
        <label for="modifier">{{localize "SFRPG.ModifierModifierLabel"}}</label>
        <input type="text" name="modifier" value="{{modifier.modifier}}" data-tippy-content="{{localize "SFRPG.ModifierModifierTooltip"}}">
    </div>


    
    <div class="form-group modifier-enabled" data-tippy-content="{{localize "d100A.ModifierEnabledTooltip Like Powered armor gives new strength"}}">
        
        <label class="checkbox">{{localize "Override"}} &emsp; &emsp;
            <input type="checkbox" name="isOverride" {{checked modifier.isOverride}}>
            
        </label>
    </div>

    <div class="form-group modifier-effect-type">
        <label for="effectType">{{localize "SFRPG.ModifierEffectTypeLabel"}}</label>

        <select name="effectType" data-tooltip="{{localize "SFRPG.ModifierEffectTypeTooltip"}}" >
            {{ selectOptions d100Aconfig.modifierEffectTypes selected=modifier.effectType blank="" }}
        </select>

    </div>    
    <div class="form-group modifier-value-affected">
        <label for="valueAffected">{{localize "SFRPG.ModifierValueAffectedLabel"}}</label>
        
        {{console "d100Amodifier-app.html 45"}}
        {{console this}}
        {{console modifier.effectType}}
        {{#if (eq modifier.effectType "actor-resource")}}
        <!--bottm of the liwst-->
        <input type="text" name="valueAffected" value="{{modifier.valueAffected}}" data-tippy-content="{{localize "SFRPG.ModifierValueAffectedTooltip"}}">
        {{else}}
        
        <select name="valueAffected" data-tooltip="{{localize "SFRPG.ModifierValueAffectedTooltip"}}" >
            {{#if (eq modifier.effectType "ac")}}
            {{ selectOptions d100Aconfig.modifierResistanceAffectedValues selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "hit-points")}}
            {{ selectOptions d100Aconfig.modifierHitPointsAffectedValues selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "initiative")}}
            {{ selectOptions d100Aconfig.modifierActionCheckAffectedValues selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "ability-skills")}}
            {{ selectOptions config.abilities selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "acp")}}
            {{ selectOptions config.acpEffectingArmorType selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "save")}}
            {{ selectOptions config.saves selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "skill")}}
            {{ selectOptions d100Aconfig.skills selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "skill-ranks")}}
            {{ selectOptions d100Aconfig.skills selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "ability-check")}}
            {{ selectOptions config.abilities selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "ability-score")}}
            {{ selectOptions config.abilities selected=modifier.valueAffected blank="" localize=true }}

            {{else if (eq modifier.effectType "weapon-attacks")}}
            {{ selectOptions config.weaponTypes selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "weapon-property-attacks")}}
            {{ selectOptions config.weaponProperties selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "weapon-damage")}}
            {{ selectOptions config.weaponTypes selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "weapon-property-damage")}}
            {{ selectOptions config.weaponProperties selected=modifier.valueAffected blank="" }}

            {{else if (eq modifier.effectType "specific-speed")}}
            {{ selectOptions config.speeds selected=modifier.valueAffected blank="" }}

            {{else}}
            
            {{/if}}

        </select>
        
        
        {{/if}}
    </div>
    <div class="form-group modifier-modifier-type">
        <label for="modifierType">{{localize "SFRPG.ModifierModifierTypeLabel"}}</label>

        <select name="modifierType" data-tooltip="{{localize "SFRPG.ModifierModifierTypeTooltip"}}" >
            {{ selectOptions config.modifierType selected=modifier.modifierType blank="" }}
        </select>

    </div>    
    <div class="form-group modifier-source">
        <label for="source">{{localize "SFRPG.ModifierSourceLabel"}}</label>
        <input type="text" name="source" value="{{modifier.source}}" data-tippy-content="{{localize "SFRPG.ModifierSourceTooltip"}}">
    </div>
    <div class="form-group modifier-notes">
        <label for="notes">{{localize "SFRPG.ModifierNotesLabel"}}</label>
        <textarea name="notes" data-tippy-content="{{localize "SFRPG.ModifierNotesTooltip"}}">{{modifier.notes}}</textarea>
    </div>
    <div class="form-group modifier-enabled" data-tippy-content="{{localize "SFRPG.ModifierEnabledTooltip"}}">
        <label class="checkbox">{{localize "SFRPG.ModifierEnabledLabel"}} &emsp; &emsp;
            <input type="checkbox" name="enabled" {{checked modifier.enabled}}>
        </label>
    </div>
    <input type="hidden" name="_id" value="{{modifier._id}}">
    <input type="hidden" name="subtab" value="{{modifier.subtab}}">
    <button type="submit" id="btn-submit"><i class="far fa-save"></i>{{localize "SFRPG.Save"}}</button>
</form>
