<div class="sheet-root {{cssClass}} flexcol">
    {{console "Ordnance propulsion"}}
    {{console this}}
    {{!-- Item Sheet Header --}}
    {{> "systems/Alternityd100/templates/items/parts/item-header.html"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/Alternityd100/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <div class="divTable blueTable2">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell">

                            {{!-- Common component data --}}
                            {{> "systems/Alternityd100/templates/items/parts/ordnance-component.html" this}}

                            <h4 class="section-header first">{{ localize "SFRPG.ItemSheet.StarshipEngine.Header" }}</h4>

                            <div class="form-group" data-tooltip="<b>{{ localize "Ordnance Size"
                                }}</b><br />{{ localize "The number of launch system capacity points required by this weapon. For example, two bombs (size 1) or one heavy bomb (size 2) could fit into a bomb rack with a capacity of 2." }}">
                                <label>{{ localize "Ordnance Size" }}</label>
                                <td><input type="text" name="system.size" value="{{itemData.size}}" data-dtype="Number"
                                        placeholder="0" /></td>
                            </div>
                            <div class="form-group" data-tooltip="<b>{{ localize " Warhead Size"
                                }}</b><br />{{ localize "The Total Size of Warhead(s) that can be installed." }}">
                                <label>{{ localize "Warhead Size" }}</label>
                                <td><input type="text" name="system.warheadSize" value="{{itemData.warheadSize}}"
                                        data-dtype="Number" placeholder="0" /></td>
                            </div>

                              <div class="form-group" data-tooltip="{{ localize " Accuracy "
                                }}<br>{{ localize "Accuracy Bonus provided by the Propulsion system" }}">
                                <label>{{ localize "Accuracy" }}</label>
                                <td><input type="text" name="system.accuracy" value="{{itemData.accuracy}}"
                                        data-dtype="Number" placeholder="0" /></td>
                            </div>
                                <div class="form-group" data-tooltip="{{ localize "Acceleration" }}<br>{{ localize "Acceleration of the missile in Mpp (MegaMeters per phase per phase)" }}">
                                <label>{{ localize "Acceleration" }}</label>
                                <td><input type="text" name="system.accel.base" value="{{itemData.accel.base}}"
                                        data-dtype="Number" placeholder="0" /></td>
                            </div>
                             <div class="form-group" data-tooltip="<b>{{ localize " Duration "
                                }}</b><br />{{ localize "Duration of the missile in phases" }}">
                                <label>{{ localize "Duration" }}</label>
                                <td><input type="text" name="system.duration.base" value="{{itemData.duration.base}}"
                                        data-dtype="Number" placeholder="0" /></td>
                            </div>
                           

                  
                            <div class="ecm-noise-table">
                                <h4 class="section-header first">{{ localize "ECM Noise Output(+) / Attenuation(-)" }}
                                </h4>

                                <div class="form-group" data-tooltip="<b>{{ localize "
                                    SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }}</b><br />{{
                                    localize "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonusTooltip"
                                    }}">
                                    <label>{{ localize
                                        "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }} Radar
                                    </label>
                                    <div class="form-fields">
                                        <input type="text" name="system.targetLockBonus.radar.value"
                                            value="{{itemData.targetLockBonus.radar.value}}" data-dtype="Number"
                                            placeholder="0" />
                                    </div>
                                </div>
                                <div class="form-group" data-tooltip="<b>{{ localize "
                                    SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }}</b><br />{{
                                    localize "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonusTooltip"
                                    }}">
                                    <label>{{ localize
                                        "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }} Laser
                                    </label>
                                    <div class="form-fields">
                                        <input type="text" name="system.targetLockBonus.laser.value"
                                            value="{{itemData.targetLockBonus.laser.value}}" data-dtype="Number"
                                            placeholder="0" />
                                    </div>
                                </div>
                                <div class="form-group" data-tooltip="<b>{{ localize "
                                    SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }}</b><br />{{
                                    localize "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonusTooltip"
                                    }}">
                                    <label>{{ localize
                                        "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }} Mass
                                    </label>
                                    <div class="form-fields">
                                        <input type="text" name="system.targetLockBonus.mass.value"
                                            value="{{itemData.targetLockBonus.mass.value}}" data-dtype="Number"
                                            placeholder="0" />
                                    </div>
                                </div>
                                <div class="form-group" data-tooltip="<b>{{ localize "
                                    SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }}</b><br />{{
                                    localize "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonusTooltip"
                                    }}">
                                    <label>{{ localize
                                        "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }} Thermal /
                                        IR </label>
                                    <div class="form-fields">
                                        <input type="text" name="system.targetLockBonus.thermal.value"
                                            value="{{itemData.targetLockBonus.thermal.value}}" data-dtype="Number"
                                            placeholder="0" />
                                    </div>
                                </div>
                                <div class="form-group" data-tooltip="<b>{{ localize "
                                    SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }}</b><br />{{
                                    localize "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonusTooltip"
                                    }}">
                                    <label>{{ localize
                                        "SFRPG.ItemSheet.StarshipElectronicCountermeasure.TargetLockBonus" }} Psionic
                                        Radiation </label>
                                    <div class="form-fields">
                                        <input type="text" name="system.targetLockBonus.psi.value"
                                            value="{{itemData.targetLockBonus.psi.value}}" data-dtype="Number"
                                            placeholder="0" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>