<form class="{{cssClass}} flexcol" autocomplete="off">
    {{console "starshipAction"}}
    {{console this}}
    {{!-- Item Sheet Header --}}
    {{> "systems/Alternityd100/templates/items/parts/item-header.html"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/Alternityd100/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{localize "Damage Types"}}</h3>

            <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.StarshipFrame.Details.BonusHullPointsTooltip" }}">
                <label>{{ localize "Order" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.order" value="{{itemData.order}}" data-dtype="Number" />
                </div>
            </div>

            <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.StarshipFrame.Details.HullPointsTooltip" }}">
                <label>{{ localize "Stun Effect" }}</label>
                <div class="form-fields">
                    <textarea rows="4" cols="60" name="system.damagelevel.stun"  placeholder="Enter text">{{itemData.damagelevel.stun}}</textarea>
                    
                   <!-- <input type="text" name="system.damagelevel.stun" value="{{itemData.damagelevel.stun}}" data-dtype="text" /> -->
                </div>
            </div>
            <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.StarshipFrame.Details.HullPointsTooltip" }}">
                <label>{{ localize "Wound Effect" }}</label>
                <div class="form-fields">
                    
                    <textarea rows="4" cols="60" name="system.damagelevel.wound"  placeholder="Enter text">{{itemData.damagelevel.wound}}</textarea>
                   
                </div>
            </div>
            <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.StarshipFrame.Details.HullPointsTooltip" }}">
                <label>{{ localize "Mortal Effect" }}</label>
                <div class="form-fields">
                    <textarea rows="4" cols="60" name="system.damagelevel.mortal"  placeholder="Enter text">{{itemData.damagelevel.mortal}}</textarea>
                </div>
            </div>
            <div class="form-group" data-tippy-content="{{ localize "SFRPG.ItemSheet.StarshipFrame.Details.HullPointsTooltip" }}">
                <label>{{ localize "Critical Effect" }}</label>
                <div class="form-fields">
                    <textarea rows="4" cols="60" name="system.damagelevel.critical"  placeholder="Enter text">{{itemData.damagelevel.critical}}</textarea>
                </div>
            </div>




            {{!-- Source --}}
            <div class="form-group">
                <label>{{ localize "Book Source" }}</label>
                <div class="form-fields">
                    <select name="system.source">
                        {{#select itemData.source}}
                        {{#each d100Aconfig.pubnsource as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>


</div>
    </section>
</form>