<div class="sheet-root {{cssClass}} flexcol">

    {{!-- Item Sheet Header --}}
    {{> "systems/Alternityd100/templates/items/parts/item-header.html"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/Alternityd100/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SFRPG.Details" }}</h3>
            <div class="divTable starship-item-details-table">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell starship-item-details-common">
                            {{> "systems/Alternityd100/templates/items/parts/starship-component-common.html" this noPCUCost=true}}
                        </div>
                        <div class="divTableCell starship-item-details-specific">
                            <h4 class="section-header first">{{ localize (append "TYPES.Item." item.type) }} Properties</h4>

                            <div class="form-group" data-tooltip="<b>{{ localize "SFRPG.ItemSheet.StarshipPowerCore.ProvidedPower" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipPowerCore.ProvidedPowerTooltip" }}">
                                <label>{{ localize "SFRPG.ItemSheet.StarshipPowerCore.ProvidedPower" }}</label>
                                <div class="form-fields">
                                    <input type="text" name="system.pcu" value="{{itemData.pcu}}" data-dtype="Number" placeholder="0" />
                                </div>
                            </div>
                           
                            <div class="form-group" data-tooltip="<b>{{ localize "SFRPG.ItemSheet.StarshipComponent.CostMultipliedBySize" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipComponent.CostMultipliedBySizeTooltip" }}">
                                <label>{{ localize "Is Power Per BHP Cost?" }}</label>
                                <div class="form-fields">
                                    <label class="checkbox">
                                        <input type="checkbox" name="system.pwrPerBHP" {{checked itemData.pwrPerBHP}}/> {{ localize "SFRPG.ItemSheet.StarshipComponent.IsCostMultipliedBySize" }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group stacked weapon-properties" data-tooltip="<strong>{{ localize "SFRPG.ItemSheet.StarshipPowerCore.Sizes" }}</strong><br/>{{ localize "SFRPG.ItemSheet.StarshipPowerCore.SizesTooltip" }}">
                                <label>{{ localize "SFRPG.ItemSheet.StarshipPowerCore.Sizes" }}</label>
                                {{#each d100Aconfig.starshipSizes as |typeName typeKey|}}
                                <label class="checkbox">
                                    <input type="checkbox" class="system.supportedSizes" name="{{typeKey}}" {{checked (contains ../itemData.supportedSizes typeKey)}}/>{{localize typeName}}
                                </label>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>