<div class="sheet-root {{cssClass}} flexcol">

    {{!-- Item Sheet Header --}}
    {{> "systems/Alternityd100/templates/items/parts/item-header.html"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/Alternityd100/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SFRPG.Details" }}</h3>
            <div class="divTable blueTable2">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell">
                            <h4 class="section-header">Weapon Attack</h4>
                            
                            {{!-- Damage Formula --}}
                            <h4 class="damage-header">
                                {{ localize "SFRPG.Items.Action.DamageFormula" }}
                                <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
                            </h4>
                            <ol class="damage-parts form-group">
                                {{#each itemData.damage.parts as |part i| }}
                                <li class="damage-part flexcol" data-damage-part="{{i}}">
                                    <div class="damage-part-formula form-group flexrow">
                                        <input type="text" name="system.damage.parts.{{i}}.formula" value="{{lookup this "formula"}}"/>
                                        <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
                                    </div>
                                    <div class="damage-part-type form-group stacked">
                                        <div class="form-group form-group-stacked">
                                            <label>{{localize "Energy Damage"}}</label>
                                            {{#each ../d100Aconfig.energyDamageTypes as |name type|}}
                                            <label class="checkbox">
                                                <input type="checkbox" name="system.damage.parts.{{i}}.types.{{type}}" {{checked (lookup (lookup (lookup ../../itemData.damage.parts i) "types") type)}} />{{name}}
                                            </label>
                                            {{/each}}
                                        </div>
                                        <div class="form-group form-group-stacked">
                                            <label>{{localize "Kinetic Damage"}}</label>
                                            {{#each ../d100Aconfig.kineticDamageTypes as |name type|}}
                                            <label class="checkbox">
                                                <input type="checkbox" name="system.damage.parts.{{i}}.types.{{type}}" {{checked (lookup (lookup (lookup ../../itemData.damage.parts i) "types") type)}} />{{name}}
                                            </label>
                                            {{/each}}
                                        </div>
                                        <div class="form-group form-group-stacked">
                                            <label>{{localize "SFRPG.HealingTypesHealing"}}</label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="system.damage.parts.{{i}}.types.healing" {{checked (lookup (lookup (lookup ../../itemData.damage.parts i) "types") "healing")}} />{{localize "SFRPG.HealingTypesHealing"}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="damage-part-operator form-group flexrow" data-tooltip="When an item or ablity does multiple types of damage, this will determine if both damage types apply, or if only one or the other apply.">
                                        <label>{{localize "Damage Operator"}}</label>
                                        <select name="system.damage.parts.{{i}}.operator">
                                            {{selectOptions ../d100Aconfig.damageOperators selected=(lookup this "operator") blank=""}}
                                        </select>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                            
                            {{!-- Ignores Hardnes --}}
                            <div class="form-group input-select">
                                <label>{{ localize "SFRPG.VehicleAttackSheet.Details.IgnoresHardness" }}</label>
                                <div class="form-fields">
                                    <input type="text" name="system.ignoresHardness" value="{{itemData.ignoresHardness}}" data-dtype="String" placeholder="0"/>
                                </div>
                            </div>

                            {{!-- Saving Throw --}}
                            <div class="form-group input-select">
                                <label>{{ localize "SFRPG.Items.Action.SavingThrow" }}</label>
                                <div class="form-fields">
                                    <input type="text" name="system.save.dc" value="{{itemData.save.dc}}" data-dtype="String" placeholder="{{placeholders.saveDC.formula}}"/>
                                    <select name="system.save.type">
                                        {{selectOptions d100Aconfig.saves selected=itemData.save.type blank=""}}
                                    </select>
                                    <select name="system.save.descriptor">
                                        {{selectOptions d100Aconfig.saveDescriptors selected=itemData.save.descriptor}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>