<div class="tab skills" data-group="primary" data-tab="skills">
    <div class="divTable blueTable skills-summary-table">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell skills-summary-cell">

                    Broad Skill Points: {{systemData.details.usedbroadskillpoints}} /
                    {{systemData.details.broadskillpoints}}
                </div>
                <div class="divTableCell skills-summary-cell">
                    Skill Points:{{systemData.details.usedskillpoints}} / {{systemData.details.skillpoints}}
                </div>

                <div class="divTableCell skills-summary-cell">
                    <label>{{localize "Show All"}}</label>
                    <input class="squaredcheck" type="checkbox" name="system.skillpoints.showAllSkills" {{checked
                        systemData.skillpoints.showAllSkills}} />

                </div>



            </div>
        </div>
    </div>



    <div class="divTable blueTable skills-table">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell skills-col">

                    <!-- FIRST Column -->

                    <!-- the skills should be in their own tables -->

                    <div class="divTable blueTable skills-inner-table">
                        <div class="divTableBody">

                            <div class="divTableRow">

                                <!--“text-indent: 40px”>

Source: How to Indent in HTML? (Simple Guide) - Dopinger (https://blog.dopinger.com/how-to-indent-in-html-simple-guide)-->

                                <div class="divTableCell skills-group">
                           

                                    <h4 class="attribute-button rollable-attribute skills-attribute-header" data-attr="str">STRENGTH</h4>
                                    {{#each systemData.skills as |skill s|}}


                                    {{#if (or skill.show ../systemData.skillpoints.showAllSkills )}}

                                    {{#if (eq skill.ability "str")}}
                                    <div class="skilldrag" data-skill="{{s}}" 
                                        data-actorid="{{../actor.id}}">
                                        <input
                                            data-tooltip="{{localize (append "d100A.SkillDescriptions." s) }}"
                                            class="skills-skill-name {{#if skill.type}}{{#if skill.untrained}}skills-skill-name--untrained{{else}}skills-skill-name--trained{{/if}}{{else}}skills-skill-name--base{{/if}}"
                                            {{#if skill.customname}}{{else}} disabled="true" {{/if}}
                                            name="system.skills.{{s}}.label" value="{{skill.label}}" type="Text" />

                                        <input {{#if skill.type}} {{else}} disabled="true" {{/if}} type="number"
                                            class="skill-ranks" title="Skill Ranks" name="system.skills.{{s}}.ranks"
                                            value="{{skill.ranks}}" min="0" max="99" inputmode="numeric" />


                                        <span class="attributes rollable-skill skills-roll"
                                            data-skillId={{s}} data-step={{skill.step}}
                                            data-roll="1d20{{skill.stepdie}}"
                                            data-label="{{skill.label}}">[{{skill.base}},{{skill.good}},{{skill.amazing}}]
                                            {{skill.stepdie}}</span>

                                        {{#if ../systemData.skillpoints.showAllSkills }}
                                        <input class="squaredcheck skills-show-checkbox" type="checkbox"
                                            name="system.skills.{{s}}.show" {{checked skill.show}} />
                                        {{/if}}
                                    </div>


                                    {{/if}}
                                    {{/if}}

                                    {{/each}}

                                    <h4 class="attribute-button rollable-attribute skills-attribute-header" data-attr="dex">DEXTERITY</h4>

                                    {{#each systemData.skills as |skill s|}}


                                    {{#if (or skill.show ../systemData.skillpoints.showAllSkills )}}

                                    {{#if (eq skill.ability "dex")}}

                                    <div class="skilldrag" data-skill="{{s}}" 
                                        data-actorid="{{../actor.id}}">
                                        <input
                                            data-tooltip="{{localize (append "d100A.SkillDescriptions." s) }}"
                                            class="skills-skill-name {{#if skill.type}}{{#if skill.untrained}}skills-skill-name--untrained{{else}}skills-skill-name--trained{{/if}}{{else}}skills-skill-name--base{{/if}}"
                                            {{#if skill.customname}}{{else}} disabled="true" {{/if}}
                                            name="system.skills.{{s}}.label" value="{{skill.label}}" type="Text" />

                                        <input {{#if skill.type}} {{else}} disabled="true" {{/if}} type="number"
                                            class="skill-ranks" title="Skill Ranks" name="system.skills.{{s}}.ranks"
                                            value="{{skill.ranks}}" min="0" max="99" inputmode="numeric" />


                                        <span class="rollable-skill skills-roll" data-skillId={{s}}
                                            data-step={{skill.step}} data-roll="1d20{{skill.stepdie}}"
                                            data-label="{{skill.label}}">[{{skill.base}},{{skill.good}},{{skill.amazing}}]
                                            {{skill.stepdie}}</span>

                                        {{#if ../systemData.skillpoints.showAllSkills }}
                                        <input class="squaredcheck skills-show-checkbox" type="checkbox"
                                            name="system.skills.{{s}}.show" {{checked skill.show}} />
                                        {{/if}}
                                    </div>


                                    {{/if}}
                                    {{/if}}

                                    {{/each}}

                                    <h4 class="attribute-button rollable-attribute skills-attribute-header" data-attr="con">CONSTITUTION</h4>
                                    {{#each systemData.skills as |skill s|}}


                                    {{#if (or skill.show ../systemData.skillpoints.showAllSkills )}}
                                    {{#if (eq skill.ability "con")}}
                                    <div class="skilldrag" data-skill="{{s}}" 
                                        data-actorid="{{../actor.id}}">
                                        <input
                                            data-tooltip="{{localize (append "d100A.SkillDescriptions." s) }}"
                                            class="skills-skill-name {{#if skill.type}}{{#if skill.untrained}}skills-skill-name--untrained{{else}}skills-skill-name--trained{{/if}}{{else}}skills-skill-name--base{{/if}}"
                                            {{#if skill.customname}}{{else}} disabled="true" {{/if}}
                                            name="system.skills.{{s}}.label" value="{{skill.label}}" type="Text" />

                                        <input {{#if skill.type}} {{else}} disabled="true" {{/if}} type="number"
                                            class="skill-ranks" title="Skill Ranks" name="system.skills.{{s}}.ranks"
                                            value="{{skill.ranks}}" min="0" max="99" inputmode="numeric" />


                                        <span class="rollable-skill skills-roll" data-skillId={{s}}
                                            data-step={{skill.step}} data-roll="1d20{{skill.stepdie}}"
                                            data-label="{{skill.label}}">[{{skill.base}},{{skill.good}},{{skill.amazing}}]
                                            {{skill.stepdie}}</span>

                                        {{#if ../systemData.skillpoints.showAllSkills }}
                                        <input class="squaredcheck skills-show-checkbox" type="checkbox"
                                            name="system.skills.{{s}}.show" {{checked skill.show}} />
                                        {{/if}}
                                    </div>

                                    {{/if}}
                                    {{/if}}

                                    {{/each}}

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Second Column -->
                <div class="divTableCell skills-col">
                    <div class="divTable blueTable skills-inner-table">
                        <div class="divTableBody">

                            <div class="divTableRow">

                                <div class="divTableCell">

                                    <h4 class="attribute-button rollable-attribute skills-attribute-header" data-attr="int">INTELLIGENCE</h4>
                                    {{#each systemData.skills as |skill s|}}
                                    {{#if (or skill.show ../systemData.skillpoints.showAllSkills )}}
                                    {{#if (eq skill.ability "int")}}
                                    <div class="skilldrag" data-skill="{{s}}" 
                                        data-actorid="{{../actor.id}}">
                                        <input
                                            data-tooltip="{{localize (append "d100A.SkillDescriptions." s) }}"
                                            class="skills-skill-name {{#if skill.type}}{{#if skill.untrained}}skills-skill-name--untrained{{else}}skills-skill-name--trained{{/if}}{{else}}skills-skill-name--base{{/if}}"
                                            {{#if skill.customname}}{{else}} disabled="true" {{/if}}
                                            name="system.skills.{{s}}.label" value="{{skill.label}}" type="Text" />

                                        <input {{#if skill.type}} {{else}} disabled="true" {{/if}} type="number"
                                            class="skill-ranks" title="Skill Ranks" name="system.skills.{{s}}.ranks"
                                            value="{{skill.ranks}}" min="0" max="99" inputmode="numeric" />


                                        <span class="rollable-skill skills-roll" data-skillId={{s}}
                                            data-step={{skill.step}} data-roll="1d20{{skill.stepdie}}"
                                            data-label="{{skill.label}}">[{{skill.base}},{{skill.good}},{{skill.amazing}}]
                                            {{skill.stepdie}}</span>

                                        {{#if ../systemData.skillpoints.showAllSkills }}
                                        <input class="squaredcheck skills-show-checkbox" type="checkbox"
                                            name="system.skills.{{s}}.show" {{checked skill.show}} />
                                        {{/if}}
                                    </div>
                                    {{/if}}
                                    {{/if}}

                                    {{/each}}




                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divTableCell skills-col">

                    <!-- FIRST Column -->

                    <div class="divTable blueTable skills-inner-table">
                        <div class="divTableBody">

                            <div class="divTableRow">



                                <div class="divTableCell skills-group">

                                    <h4 class="attribute-button rollable-attribute skills-attribute-header" data-attr="wil">WILL</h4>
                                    {{#each systemData.skills as |skill s|}}
                                    {{#if (or skill.show ../systemData.skillpoints.showAllSkills )}}
                                    {{#if (eq skill.ability "wil")}}
                                    <div class="skilldrag" data-skill="{{s}}" 
                                        data-actorid="{{../actor.id}}">
                                        <input
                                            data-tooltip="{{localize (append "d100A.SkillDescriptions." s) }}"
                                            class="skills-skill-name {{#if skill.type}}{{#if skill.untrained}}skills-skill-name--untrained{{else}}skills-skill-name--trained{{/if}}{{else}}skills-skill-name--base{{/if}}"
                                            {{#if skill.customname}}{{else}} disabled="true" {{/if}}
                                            name="system.skills.{{s}}.label" value="{{skill.label}}" type="Text" />

                                        <input {{#if skill.type}} {{else}} disabled="true" {{/if}} type="number"
                                            class="skill-ranks" title="Skill Ranks" name="system.skills.{{s}}.ranks"
                                            value="{{skill.ranks}}" min="0" max="99" inputmode="numeric" />


                                        <span class="rollable-skill skills-roll" data-skillId={{s}}
                                            data-step={{skill.step}} data-roll="1d20{{skill.stepdie}}"
                                            data-label="{{skill.label}}">[{{skill.base}},{{skill.good}},{{skill.amazing}}]
                                            {{skill.stepdie}}</span>

                                        {{#if ../systemData.skillpoints.showAllSkills }}
                                        <input class="squaredcheck skills-show-checkbox" type="checkbox"
                                            name="system.skills.{{s}}.show" {{checked skill.show}} />
                                        {{/if}}
                                    </div>
                                    {{/if}}
                                    {{/if}}

                                    {{/each}}

                                    <h4 class="attribute-button rollable-attribute skills-attribute-header" data-attr="per">PERSONALITY</h4>

                                    {{#each systemData.skills as |skill s|}}
                                    {{#if (or skill.show ../systemData.skillpoints.showAllSkills )}}
                                    {{#if (eq skill.ability "per")}}
                                    <div class="skilldrag" data-skill="{{s}}" 
                                        data-actorid="{{../actor.id}}">
                                        <input
                                            data-tooltip="{{localize (append "d100A.SkillDescriptions." s) }}"
                                            class="skills-skill-name {{#if skill.type}}{{#if skill.untrained}}skills-skill-name--untrained{{else}}skills-skill-name--trained{{/if}}{{else}}skills-skill-name--base{{/if}}"
                                            {{#if skill.customname}}{{else}} disabled="true" {{/if}}
                                            name="system.skills.{{s}}.label" value="{{skill.label}}" type="Text" />

                                        <input {{#if skill.type}} {{else}} disabled="true" {{/if}} type="number"
                                            class="skill-ranks" title="Skill Ranks" name="system.skills.{{s}}.ranks"
                                            value="{{skill.ranks}}" min="0" max="99" inputmode="numeric" />


                                        <span class="rollable-skill skills-roll" data-skillId={{s}}
                                            data-step={{skill.step}} data-roll="1d20{{skill.stepdie}}"
                                            data-label="{{skill.label}}">[{{skill.base}},{{skill.good}},{{skill.amazing}}]
                                            {{skill.stepdie}}</span>

                                        {{#if ../systemData.skillpoints.showAllSkills }}
                                        <input class="squaredcheck skills-show-checkbox" type="checkbox"
                                            name="system.skills.{{s}}.show" {{checked skill.show}} />
                                        {{/if}}
                                    </div>
                                    {{/if}}
                                    {{/if}}

                                    {{/each}}



                                </div>

                            </div>

                        </div>
                    </div>
                </div>



            </div><!-- End Row -->
        </div><!-- End Body -->
    </div><!-- End Table-->
</div>