<div class="tab status" data-group="primary" data-tab="status">
    <div class="sturtus flexcol">

    </div>
    {{#if isUseWarshipsOptions}}

    <div class="divTable durability-track">
        <div class="divTableHeading">
            <div class="divTableRow">

                <div class="divTableHead">
                    <div class="durability-track-header">
                        <div class="durability-track-header-left">
                            <button type="button" class="clickapplydamge tag" data-tooltip-direction="UP" data-tooltip="Apply Temp Damage">Apply Pending Damage</button>
                        </div>
                        <div class="durability-track-title">Starship Damage</div>
                        <div class="durability-track-header-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divTableBody">
            {{#each status.durability as |category id|}}

            <div class="divTableRow">
                {{#if (eq id "stu") }}<div class="divTableCell">{{ localize "d100A.stun"}}</div> {{/if}}
                {{#if (eq id "wou") }}<div class="divTableCell">{{ localize "d100A.wound"}}</div> {{/if}}
                {{#if (eq id "mor") }}<div class="divTableCell">{{ localize "d100A.mortal"}}</div> {{/if}}
                {{#if (eq id "cri") }}<div class="divTableCell">{{ localize "d100A.critical"}}</div> {{/if}}
                <div class="divTableCell">
                    {{#each category.good as |position|}}
                    <img class="clickgood" src="{{../../status.image.good}}" title="{{position.title}}"
                        data-position={{position.value}} data-type="total-dec" data-id={{id}} data-category="total"
                        height="15" width="15" />
                    {{/each}}
                    {{#each category.pend as |position|}}
                    <img class="clickgood" src="{{../../status.image.pend}}" title="{{position.title}}"
                        data-position={{position.value}} data-type="total-inc" data-id={{id}} data-category="total"
                        height="15" width="15" />
                    {{/each}}
                    {{#each category.bad as |position|}}
                    <img class="clickgood" src="{{../../status.image.bad}}" title="{{position.title}}"
                        data-position={{position.value}} data-type="total-inc" data-id={{id}} data-category="total"
                        height="15" width="15" />
                    {{/each}}
                </div>
            </div>
            {{/each}}


        </div>
    </div>
    {{/if}}

    <table class="statusTable_3">
        <tbody>
            <tr>

                <td colspan="3" class="statusTable_3-header">
                      System Damage
                </td>

            </tr>
            {{#each compartTable as |row rnum|}}


            <tr>
                {{#each row as |col cpt|}}
                {{#if col.isBlank }}
                <td class="statusTable_3-cell statusTable_3-cell--blank">
                </td>
                {{else}}
                <td class="statusTable_3-cell">

                    {{#if col.overload}}
                    <span class="statusTable_3-compartment-name statusTable_3-compartment-name--overload" data-tooltip="{{col.curHull}}/{{col.maxHull}}" data-tooltip-direction="UP">{{col.name}}</span>
                    {{else}}
                    <span class="statusTable_3-compartment-name" data-tooltip="{{col.curHull}}/{{col.maxHull}}" data-tooltip-direction="UP">{{col.name}}</span>

                    <button type="button" data-row="{{rnum}}" data-name="{{col.name}}" data-col="{{cpt}}"
                        data-location="{{col.location}}" class="tag systdamagebutton">System Damage Locn.</button>
                    <button type="button" data-row="{{rnum}}" data-name="{{col.name}}" data-col="{{cpt}}"
                        data-location="{{col.location}}" class="tag damagecheckbutton">Damage Check</button>

                    {{/if}}

                    {{#unless ../../isUseWarshipsOptions}}

                    {{#each col.durability as |type dur|}}
                    {{type.name}}



                    {{#each type.good as |position|}}
                    <img class="clickgood" src="{{col.image.good}}" title="{{position}}" data-position="{{position}}"
                        data-location="{{col.location}}" data-dur="{{dur}}" data-type="dec" data-category="compart"
                        height="14" width="14" />
                    {{/each}}

                    {{#each type.bad as |position|}}
                    <img class="clickgood" src="{{col.image.bad}}" title="{{position}}" data-position="{{position}}"
                        data-location="{{col.location}}" data-dur="{{dur}}" data-type="inc" data-category="compart"
                        height="14" width="14" />
                    {{/each}} <br />


                    {{/each}}
                    {{/unless}}


                    {{#if col.systems}}
                    <ul class="statusTable_3-systems">
                        {{#each col.systems as |system|}}
                        <li class="statusTable_3-system item flexrow"
                            data-item-id="{{system._id}}"
                            data-location="{{col.location}}"
                            data-status="{{system.system.status}}"
                            data-powered="{{system.system.isPowered}}"
                            data-overpowered="{{system.system.overPowered}}"
                            data-tooltip-direction="UP">
                            <div class="statusTable_3-system-name clickonoff" data-item-id="{{system._id}}">
                                {{system.name}}
                            </div>
                            <i class="fas fa-bolt statusTable_3-system-overload clickoverload" data-tooltip="OverPowered" data-item-id="{{system._id}}"></i>

                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </td>
                {{/if}}
                {{/each}}

            </tr>
            {{/each}}

        </tbody>


    </table>
    

</div>